[2014-08-06 08:40] mgkhayat opened #1 "commission for employee"
I have looked at the commissions video and it is done for an external (not an employee) agent. When I tried an employee agent it asked for a partner and continued as if the agent is not an employee. How does it work for an employee agent?

[2014-12-17 10:54] noreiller commented on #1
Hi, I would like to know if there is a workaround to connect an employee to a sale agent.
When creating a sale agent, we are asked to create a new partner, but it would be great to connect it to an existing partner. Because each employee has an associated partner.

[2015-01-28 12:54] GillPotter opened #10 "Commission for Odoo v8?"
I am interested in a module for Odoo Version 8 which I can use to allocate sales commission to agents who introduce customers. It looks like this could be the place to find it - is anyone working on it or have plans to do so in the near future?
Many thanks, Gill

[2015-01-28 13:06] pedrobaeza commented on #10
There is already an attempt. Look at https://github.com/OCA/commission/pull/7 and put any comment there.

[2015-01-28 13:06] #10 closed, assigned to nobody

[2015-04-15 13:34] antwertinger opened #15 "commission in invoice not set"
If you switch the workflow from
Sales Order -> Invoice
to
Sales Order -> Delivery -> Invoice
the commission in the invoice is not set if in the sales order a commission is set.

[2015-04-15 16:35] pedrobaeza commented on #15
You should try new version, that is on https://github.com/OCA/commission/pull/14

[2015-05-25 11:00] ghost opened #20 "I can't make settlements"
I am in the group Sales Manager. When I try to make new Settlements, and I have done some sales orders, I find this warning:

![image](https://cloud.githubusercontent.com/assets/8233008/7796259/b7f6b494-02dd-11e5-8b29-93bcf7285062.png)

I think Group Sales Manager must have all Access Rights to the object sale.commission.settlement.line.

[2015-05-25 12:05] ghost opened #21 "Create commission invoices don't work"
If I don't "Add an item" when I create commission invoices, any Invoices were created, although there is a message that says "keep empty for invoicing all the settlements".

[2015-05-25 12:07] pedrobaeza commented on #21
Eduardo, the code is clear: https://github.com/OCA/commission/blob/8.0/sale_commission/wizard/wizard_invoice.py#L55, so please check that the conditions are met.

If you have put your agents as employees, they're not going to be invoices (obvious, because employees are paid in the payroll - there's a todo in this task).

[2015-05-25 12:34] ghost commented on #21
Yes, you are right, it works with external agents. Sorry.

But if you want to pay an extra amount to your internal agents (employees), is this not the correct module? Or do you have to make these "invoices" manually?

[2015-05-25 12:45] pedrobaeza commented on #21
You can do it, marking their partner as external agent. They're not incompatible. Rename in your case external agent to "Create invoices".

[2015-05-25 12:45] #21 closed, assigned to nobody

[2015-05-30 00:36] pedrobaeza commented on #20
I have fixed it via direct commit because it's a blocking issue in https://github.com/OCA/commission/commit/c4d756896b2f05bd2b8684941ee3e42b8902f51d

[2015-05-30 00:36] #20 closed, assigned to nobody

[2015-06-04 15:43] manuelfcordoba commented on #10
Hello,
I have been trying the module in v8 and i cant make the settlements of these commissions.
Is it working already?

[2015-06-04 19:54] pedrobaeza commented on #10
Yeah, of course. The settlements are made for past periods, not the current one. Put a date in the next settlement period if you want to do that.

[2015-06-09 16:33] kootoo opened #22 "Field `commission_id` does not exist"
module: sale_commission
version: 8.0

**Steps to reproduce**
- I'm not really sure about this... I installed Etherpad + mysql, rebooted the server and did get this error with the sale_commission module. I tried to uninstall it and reinstall it with no chance, then tried to update it with no chance as well. I'm pretty sure there is no relationship with the Etherpad install.

**Current behavior**
I

[2015-06-10 06:23] kootoo commented on #22
Some more information... I was able to access again to Odoo (deleting addon, starting Odoo server, stopping Odoo, copying addon again, starting Odoo server). I tried to update it again and did get the following error messages. I hope this can help.

First set of error messages :
2015-06-10 05:51:32,081 12421 ERROR datapro openerp.addons.base.ir.ir_model: Missing model sale.agent
2015-06-10 05:51:3

[2015-06-12 06:24] pedrobaeza commented on #22
That field is not declared in the view: https://github.com/OCA/commission/blob/8.0/sale_commission/views/res_partner_view.xml#L5

So you should have an outdated database. Update it with --update=sale_commission or --update=all.

[2015-06-12 06:24] #22 closed, assigned to nobody

[2015-06-30 07:54] mfzoutsource opened #24 "How to run settlement"
Hi everyone,

I just found and tested this module. I know this module still in development but I just lost the flow.
How do I run commission settlement after I have done register payment for that invoice.
In that invoice line "Agent and commissions"s column, it shows there is a record.
Then how do I want to process payment for that agent?

Sorry for my english. Thank you.  :)

[2015-06-30 07:59] pedrobaeza commented on #24
The module is not in development anymore. You just need to run Sales > Configuration > Commissions > Create commission invoices

[2015-06-30 07:59] #24 closed, assigned to nobody

[2015-06-30 08:03] mfzoutsource commented on #24
Oh, I'm sorry for my words. Just clear my way here.

![no record](https://cloud.githubusercontent.com/assets/13113545/8426297/4cac45a2-1f41-11e5-82fe-3d42380f09db.png)

![paid](https://cloud.githubusercontent.com/assets/13113545/8426309/6340dce2-1f41-11e5-94d5-daaae78f7a21.png)

![record](https://cloud.githubusercontent.com/assets/13113545/8426314/69d69786-1f41-11e5-93fe-d672b617d786.png)

![bank_

[2015-06-30 08:06] mfzoutsource commented on #24
![creat_comm](https://cloud.githubusercontent.com/assets/13113545/8426379/df8a6f16-1f41-11e5-950f-d07b9c08a480.png)

![add_sttlement](https://cloud.githubusercontent.com/assets/13113545/8426387/e69914c4-1f41-11e5-9b7e-8c709ffa340b.png)

[2015-06-30 08:08] pedrobaeza commented on #24
You have to made the settlements first, but settlements are not made if the period selected is not due (if you put monthly, it's not settled until next month).

[2015-06-30 08:16] mfzoutsource commented on #24
So I just need to wait next month to look the result?
I'll try modify the code to make it show the result by today. I'm curious. :)

Thanks for helping me out @pedrobaeza

[2015-06-30 08:21] pedrobaeza commented on #24
Yes, it's the normal flow (not testing flow), but you can test it making an invoice with commission of a past month.

[2015-07-09 03:33] mfzoutsource opened #25 "Invoice line view becomes 'messy' when "Agents & Commissions" clicked"
Hi @pedrobaeza, FYI, my invoice line view become like this (image attached) in draft invoice (from sale process), as standard practice for me when I want to confirm some invoices, I need to make sure the information is correct. So when I clicked on 'Agents & Commissions' columns in invoice line, the view become quite messy like this.
Thank you.

![tree_view_invoice_commission](https://cloud.github

[2015-07-09 06:57] pedrobaeza commented on #25
Yeah, that's the price we have to pay for not having the line in pop-up. Although not pretty, it's still usable. That's why I kept it. Any alternative suggestion?

[2015-07-16 16:00] max3903 commented on #1
When you create a user, it creates a partner. Use this partner to check the "Agent" box on it.
When you create the employee, link it with the user created before.
Then you can set the agent as an internal salesman, the employee field will be set.

Unfortunately, it is not linked with payroll yet. It stills creates a supplier invoice, even for an employee.

[2015-08-12 16:20] max3903 opened #26 "Multi-lines commissions"
This is to inform that we are working on improving the sale_commission module to allow to define multiple commissions on one agent.

For example, an agent can get 5% commission on his sales (his customers) in addition to 1% on the whole company sales.

The result should look like this:
![agents - odoo 2015-07-16 14-07-14](https://cloud.githubusercontent.com/assets/939952/9229684/61af8d98-40ec-11e5

[2015-08-12 18:39] pedrobaeza commented on #26
Thanks for the improvement. Do you plan to add it to the main module or make it a separate one? I think the first option makes more sense

[2015-08-12 18:41] max3903 commented on #26
We plan on adding it in the main module.

[2015-08-12 18:45] pedrobaeza commented on #26
Cool, I'll review it when done

[2015-08-17 18:46] max3903 commented on #26
#27

[2015-10-14 00:20] pedrobaeza opened #32 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [x] hr_commission - By @cubells - #130
- [x] sale_commission - By @oihane - #67
- [x] ~~sale_stock_commission~~ - Not needed anymore
- [ ] sale_commission_formula
- [ ] sale_commission_product
- [x] contract_commission - By @cubells - #119

[2015-10-17 09:08] Cywaithaka opened #33 "Commission for First time Purchase"
Some companies will give commissions to their agents only for the first time purchase. I suggest you add a check when calculating the base commission. Is this something you would consider adding?

[2015-10-17 09:16] pedrobaeza commented on #33
Sorry, but not for now (at least by my part). If anyone can contribute with this enhancement, is welcome to do it. I leave this issue open for anyone wiling to contribute to take it into account, but marked as wishlist.

[2015-10-21 14:47] Cywaithaka commented on #33
I also noticed that the settlements wizard does not generate the any settlements in my tests. This is how to recreate the issue:
I created the commission with scope "on his customer sales",
I then created an agent and assigned the commision type
I created a customer and set the agent under the customer.
However, when I make a sale to the customer, confirm and make payment, the generate settlements

[2015-10-21 14:49] pedrobaeza commented on #33
Yes, settlements are generated for due/past periods, not for the current. Select a date in the future that assures you the period is due.

[2015-10-21 16:08] Cywaithaka commented on #33
Thanks a lot. Selecting a future date did the trick. Btw, I managed to extend the module to support commissions on first time purchases only. I will share it here as soon as I clean it up. You've been of great help.

Warm regards

[2015-10-26 22:13] Cywaithaka opened #35 "Commissions for Website Sales"
module: sale_commission
version: 8.0

**Current behavior**
When a sales order/quotation is created on the backend, the commissions are duly calculated. However, when the same customer places  an order to on the ecommerce shop, commissions are zero.
**Expected behavior**
1.If Customer1 places an order on the website, the commissions should be calculated just like when the  order is placed from the

[2015-10-26 23:25] pedrobaeza commented on #35
For now that option is not taking into account, but it would be easy to intercept method that creates the sale order line and inject commission values. Maybe you can contribute with this _website_sale_commission_ module.

[2015-10-27 13:46] Cywaithaka commented on #35
I tried extending the _website_product_id_change function in sale_order with no success.

[code]

Since the function that populates the commissions is called as a default value, could there be a reason why this default does not apply when the sale order line is created from the website? That is, using the sale_commission module as it is.

[2015-10-27 22:58] pedrobaeza commented on #35
I think it should be `line._default_agents`, but I haven't tried.

[2015-10-27 23:56] Cywaithaka commented on #35
I have created a repo for the module here https://github.com/Cywaithaka/website_sale_commission/tree/master. Hope we can have other people to contribute. What I have tried so far has not worked.

[2015-10-28 00:35] Cywaithaka commented on #35
Hi @pedrobaeza Apologies, I was using @savoirfairelinux branch (8.0_sale_commission_multiple) from here https://github.com/savoirfairelinux/commission/tree/8.0_sale_commission_multiple/sale_commission and I notice there are some naming differences with the main branch. This is why I used line._default_commissions

[2015-11-28 19:35] diiman2000 opened #41 "Error in module"
Hi,
There is an error in the module, when a quotation is created and you add an agent and confirm the quotation, the agent added is not been forwarded to the invoice of that sale order under accounting, you need to manually do it again under the invoice even if you originally added the agent in the quotation. when u now add the agent in the invoice area it come up with an error.

[2015-11-28 20:01] diiman2000 opened #42 "Error when Agent is Clicked"
Hi,
I get this error below when i click on an agent.
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line 537, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line 574, in dispatch
    result = self._call_function(*_self.params)
  File "/usr/lib/python2.7/d

[2015-11-28 20:23] diiman2000 commented on #41
This is the error i get when the agent is added during the invoice process
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line 537, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line 574, in dispatch
    result = self._call_function(*_self.params)
  File

[2015-11-28 21:06] pedrobaeza commented on #41
This error is nothing related with the module itself, but with your installation. Try to restart your server and be sure that you're using the correct version (8.0) in both the module and the server.

[2015-11-28 21:06] #41 closed, assigned to nobody

[2015-11-28 21:07] pedrobaeza commented on #42
This seems to be because you have an outdated installation. Please update code and make --update=all (or update base module).

[2015-11-28 21:07] #42 closed, assigned to nobody

[2015-12-02 08:39] antwertinger opened #44 "agent commission per product or product category"
Is it possible to set an agents comission per product or product category?

Thanks

[2015-12-02 08:54] pedrobaeza commented on #44
Not for now

[2015-12-02 23:29] pedrobaeza commented on #44
I have remembered this PR that enables the feature you want: https://github.com/OCA/commission/pull/31. Please check.

[2015-12-08 00:28] diiman2000 opened #45 "Issue with sale commission in Portal View"
Hi,
There is an issue with the sale commission module in portal view.
Here is the process, a customer is given portal access to see their invoices and sale orders but they are unable to see the document due to access right error.
On sale order the error is coming from (Document Module sale.order.line.agent) and
On Invoices its coming from (Document module account.invoice.line.agent).

Also if thes

[2015-12-13 22:24] pedrobaeza commented on #45
There can be 2 solutions:
- Put the views that add commission stuff to invoices marked with the group that has the permissions.
- Add the corresponding permissions on portal users.

I think the best is the first one.

[2015-12-14 02:58] diiman2000 commented on #45
A screenshot of your suggestion will be appreciated or a workflow as your answer above is a bit vague for a novice like me to understand .

[2015-12-14 08:49] pedrobaeza commented on #45
Sorry, but it's not intended for a novice, but a guide to any technician that wants to fix it.

[2015-12-16 19:40] fernandomr opened #46 "Access error. Document type: res.users on res.partner form"
After installing the modules: sale_commission, hr_commission and sale_stock_commission:
When first accessing a partner, everything goes ok. But after trying to update a partner, I'm no longer able to access it.
I've tried modifying the users group permissions to specifically allow access to the res_users relation.
Tried also adding the sales groups, like "managers" or "see your leads" directly int

[2015-12-16 19:51] pedrobaeza commented on #46
Are you using admin?

[2015-12-16 20:33] fernandomr commented on #46
No.
And the user is under one company branch

[2015-12-17 09:38] pedrobaeza commented on #46
Well, we haven't found this issue working in a multi-company environment. Try to reproduce the bug on runbot and put the steps followed here.

[2016-01-04 08:47] MiguelMachadoM opened #49 "error in form view sales_order with unit of measure"
@pedrobaeza
When add 3th line in a sale quotation I recibe following errors:

![commision1](https://cloud.githubusercontent.com/assets/7348561/12086197/0655f33a-b2c8-11e5-9b80-c3afedc205cc.PNG)

And next when try again:

![commision2](https://cloud.githubusercontent.com/assets/7348561/12086205/14af2258-b2c8-11e5-98f7-346a6653bc6c.PNG)

I've tried uninstalling other modules that affected the view a

[2016-01-07 11:17] MiguelMachadoM opened #51 "Refound invoice no set agent"
@pedrobaeza
when you create a refund from a invoice does not set the corresponding agentin in lines.

![captura](https://cloud.githubusercontent.com/assets/7348561/12169425/9f10676e-b538-11e5-9832-2ac2b5aab474.PNG)

[2016-01-12 23:13] odortega opened #52 "TypeError: Cannot read property 'constructor' of undefined"
![sale_commission_error](https://cloud.githubusercontent.com/assets/4130995/12280025/0b3970a6-b959-11e5-9dfc-251e3631182b.png)
I am using "sale_commission" module for manage sales commission to sales team https://www.odoo.com/apps/modules/8.0/sale_commission/, when I am creating a sale order all work fine till I try to add sale order line whith a different product than before line.

May you help m

[2016-01-20 09:26] pedrobaeza commented on #51
Solved in https://github.com/OCA/commission/pull/53

[2016-01-25 17:29] ivantodorovich opened #55 "Refund invoices settlements should be 'negative'"
Even though `account.invoice.commission_total` is correct (ie: $ -10), when settling the `sale.commission.settlement` is incorrect (positive sign --> ie: $ 10), hence paying the agent twice for something it shouldn't have been paid.

[2016-01-25 17:57] ivantodorovich commented on #55
I believe it's considered here `account.invoice._compute_commission_total`:

[code]

But nowhere else (that I can find).

`sale.commission.settlement.line.settled_ammount` doesn't hold any values, but instead relates to `account.invoice.line.agent.amount`

[2016-01-25 19:59] pedrobaeza commented on #55
You're right. The best is to put the negative on the lines, so in the settlement it appears automatically correct. The only check you should do is if the total is negative (because there are more refunds than invoices), the invoice to create should be a refund.

Can you make a PR with that?

[2016-01-25 20:03] pedrobaeza commented on #55
OK, I see now the PR, hehe. Then change according comment about the invoice creation, but I see that you have also thought about the same method :wink:

[2016-01-27 17:38] nicholas-itpedia opened #59 "'installable': False is set in the sale_commission manifest file in 9.0 branch"
Does this mean this code is not released for 9.0? Is this an oversight? Should it be changed t     'installable': True ? What else needs to be done in order to make this 9.0 compatible and stable enough for production use?

[2016-01-27 17:44] pedrobaeza commented on #59
Yes, it's not yet migrated, but I'm on it. Expect it on 2 weeks.

[2016-01-27 17:44] #59 closed, assigned to nobody

[2016-01-27 19:03] nicholas-itpedia commented on #59
Thanks for the update. Is there anything we can help with?

[2016-01-27 19:07] pedrobaeza commented on #59
You can make testing when done. I'll ping you then.

[2016-01-30 17:03] ivantodorovich commented on #15
Should this be closed?

[2016-01-30 17:04] ivantodorovich commented on #51
Should this be closed?

[2016-01-30 17:11] ivantodorovich opened #61 "[sale_commission] Commissions are not being settled for invoices duplicated from a settled invoice."
1. Create an invoice with agent lines
2. Settle the invoice from the commissions wizard
3. Duplicate the invoice
4. Try to settle de invoice

Result: Invoice is ignored in the settlement.
Expected: Invoice commission should be settled.

This bug won't occur, though, if the invoice is duplicated from a not settled invoice.

I'm guessing the `account.invoice.line.agent`'s `settled` field is being co

[2016-01-30 17:56] ivantodorovich opened #62 "Error when editing invoice lines"
I'm getting this error when **editing** invoice lines.

**Steps to reproduce:**
1. Create an invoice with commissions
2. Save it (but don't validate)
3. Open and Edit the invoice
4. Edit some invoice line quantity or product. Maybe also click the invoice line agent lines.
5. Try to save the line (lose focus)

This error window raises 3 times:

[code]

Also, not always, but continuing to mess with

[2016-01-30 17:57] ivantodorovich opened #63 "Creating agent from within the invoice line agent line widget doesn't preset partner.agent to true."
Creating agent from within the invoice line agent line widget doesn't preset partner.agent to true.

[2016-01-31 12:41] pedrobaeza commented on #15
Yeah, that's it

[2016-01-31 12:41] #15 closed, assigned to nobody

[2016-01-31 12:44] pedrobaeza commented on #51
Yes

[2016-01-31 12:44] #51 closed, assigned to nobody

[2016-01-31 13:05] pedrobaeza commented on #63
This can be solved setting in the context of the field `{'default_agent': True, 'default_customer': False, 'default_supplier': True}`

[2016-01-31 13:07] pedrobaeza commented on #62
This kind of errors happens on the web client side, so there's nothing to do with the current commission code to solve it, but it will be more predictable if we don't use a one2many inside another one2many. Is there something that you figure out for avoiding this one2many?

[2016-01-31 13:07] pedrobaeza commented on #61
You  can set `copy=False` in the field definition to avoid it.

[2016-01-31 18:45] ivantodorovich commented on #61
[code]

What about the other `account.invoice.line.agent` fields, like `invoice_line`, `invoice`, `invoice_date`. Should they be set to `copy=False`, too?

[2016-01-31 18:47] pedrobaeza commented on #61
They are automatically linked to the new records, so they are not needed.

[2016-01-31 18:54] #55 closed, assigned to nobody

[2016-01-31 19:16] ivantodorovich commented on #62
Hmm..

**To avoid it**
I've saw a comment from you in a PR, suggesting to hide commissions lines from invoices with a security group. It's isn't really a fix, but it would avoid errors showing up 99.99% of the times. Since it's almost never needed to edit invoice line comissions manually.

**To possible fix it**

Maybe we can show a tags-like field where each tag represents a combination of agent

[2016-01-31 19:50] #61 closed, assigned to nobody

[2016-01-31 19:50] #63 closed, assigned to nobody

[2016-02-01 06:51] pedrobaeza commented on #62
Yeah, they're workarounds (the last 2, the first one is only to hide the elements) and some of them not easily feasible, but we should find a solution. Let's think a bit more...

[2016-02-02 00:29] ivantodorovich commented on #62
No great ideas from this brain, right now. Maybe something will come up in my sleep.

For now, I'll investigate how security groups work and make a PR, since our company needs some kind of workaround to this error. I mean, hiding is enough to avoid it, right? Or will it still raise errors?

[2016-02-02 00:54] singleroot opened #65 "Error installing sales_co...."
Hello,

When installing Im getting:

openerp.addons.base.ir.ir_ui_view: El elemento '<xpath expr="//field[@name='invoice_line']/tree//field[@name='price_subtotal']">' no puede ser localizado en la vista padre

Error de contexto:
Vista `account.invoice.form.agent`
[view_id: 1552, xml_id: n/a, model: account.invoice, parent_id: 470]" while parsing /home/singleroot/erp-prod/odoo/addons/sale_commissio

[2016-02-02 00:59] ivantodorovich commented on #49
I've also seen this error. It might be related to https://github.com/OCA/commission/issues/62

[2016-02-02 01:00] ivantodorovich commented on #25
Related https://github.com/OCA/commission/issues/62

[2016-02-02 01:01] ivantodorovich commented on #62
Related https://github.com/OCA/commission/issues/49 & https://github.com/OCA/commission/issues/25 & https://github.com/OCA/commission/issues/52

[2016-02-02 08:56] antone-colonna opened #66 "Generate commission only if the customer invoice is paid"
Hello

Is-it possible to modify the addon to generate sale commission only if the customer invoice is paid ?

Sincerely

[2016-02-02 09:38] pedrobaeza commented on #66
This is already possible. Check latest revisions.

[2016-02-02 09:38] #66 closed, assigned to nobody

[2016-02-03 10:48] antone-colonna opened #68 "Problem with supplier invoice number"
Hello

I have a problem with supplier invoice number. When i generate invoices from settlements, supplier invoice number is the same that client invoice number.

Do i something wrong ?

[2016-02-03 10:48] antone-colonna commented on #66
Thank you i upgrade and now it's ok

[2016-02-03 10:49] pedrobaeza commented on #68
This set of modules doesn't support supplier invoices, so I don't get you. Are you referring to the generated supplier invoice for the agent?

[2016-02-03 10:51] antone-colonna commented on #68
Yes

[2016-02-03 10:58] antone-colonna commented on #68
Yes it's about the supplier invoice for the agent. Can we change the number by another

ex: client invoice number SAJ/2016/001
agent supplier invoice EXJ/2016/001

[2016-02-03 11:01] pedrobaeza commented on #68
That depends on the sequence associated to your supplier journal, so it's not a problem of the module.

[2016-02-03 11:01] #68 closed, assigned to nobody

[2016-02-03 11:14] antone-colonna commented on #68
Oh sorry you're right, it's ok with the good journal :-)

Thanks

[2016-02-03 14:16] antone-colonna opened #69 "Get in agent invoice in purchase the origin client invoice number"
Hello

Just a question to upgrade the module. How to add in agent invoice the client invoice number ?

In settlement.py we have function prepare_invoice_header

`def _prepare_invoice_header(self, settlement, journal, date=False):
        invoice_obj = self.env['account.invoice']
        invoice_vals = {
            'partner_id': settlement.agent.id,
            'type': ('in_invoice' if journal.typ

[2016-02-03 16:09] pedrobaeza commented on #69
You can use origin field that is a text for indicating the source document.

[2016-02-03 16:30] antone-colonna commented on #69
Ok but how paste in origin the client invoice number.

can i call directly invoice_id or invoice.id??

I never use python code :(

[2016-02-03 16:31] pedrobaeza commented on #69
No, because there's a lot of invoices that can make a supplier invoice. Sorry, but this is out of scope of the purpose of issues.

[2016-02-03 16:31] #69 closed, assigned to nobody

[2016-02-08 08:51] pedrobaeza commented on #52
This is unfortunately a base error in the Odoo web client widgets, so it's difficult to fix, but not related with the module itself. Using expanded view (that is activated via user permissions - I don't remember now which exactly -), you will get rid off this problem.

[2016-02-08 08:51] #52 closed, assigned to nobody

[2016-02-09 17:55] ivantodorovich opened #71 "Some terms are not being translated"
Some terms like `Net Amount`, `Gross Amount` are not being translated.
They are not in the `.pot` file.

I've tried exporting the language file from `Settings -> Translations -> Import / Export -> Export Translation` but it seems it also adds some terms that are not of this module, so I don't know if it's reliable.

What's the proper way to generate and/or update them?

[2016-02-10 20:43] ivantodorovich opened #73 "Steps to 'Make it totally multi-company aware.' (it's in the roadmap)"
Our business is using a two-company enviorment.

We need to settle commissions from sales of the 2 companies, but create the invoice only in one of them.

I intend to develop this feature, and since I'm at it, I'd like to know your thoughts/needs regarding what should be implemented to make this module 'totally multi-company aware'.

**Should the settlement wizard ask the company of the sales to s

[2016-02-11 19:01] pedrobaeza commented on #73
In fact, for what you want there's no need to make any changes, because it's already supported out of the box, while you use a user different from admin.

What it's needed for full multi-company support is to make commission field company dependent and several things in the same way.

[2016-02-23 22:46] mileo commented on #33
You could use https://github.com/OCA/sale-workflow/tree/9.0/partner_prospect and create a special commission percent for the first sale.

[2016-02-27 22:07] #73 closed, assigned to nobody

[2016-03-01 23:18] ivantodorovich commented on #44
@antwertinger I'm currently using the newly added _sale_commission_formula_ module to support this feature. You just have to create the formula that matches your requirements.

[2016-03-01 23:20] pedrobaeza commented on #44
Why don't you just review https://github.com/OCA/commission/pull/31?

[2016-03-01 23:30] ivantodorovich commented on #44
We use more complex rules when calculating commissions.

Our commisions depends on the product category and on the discount made by the salesman.
Some products (categories) have "extra" commission depending on the discount made by the salesman.

That's why sale_commission_fomula is perfect for us, and https://github.com/OCA/commission/pull/31 isn't.

But I'll review it later so it gets merged ^^

[2016-03-02 00:02] ivantodorovich opened #76 "[BUG?] Editing the commision will recalculate all previous agent lines and settlements."
Editing a `sale.commission` that's already in use will trigger an update on every existing invoice, sale order, and settlements that were using that commission "rule".

This is because of `@api.depends`:

[code]

I think this could cause consistency errors.

IMO, settled invoices's commissions (agent lines) should remain unchanged, even if the `sale.commission` percentage / formula / rule changes.

[2016-03-02 00:10] pedrobaeza commented on #76
Yeah, you're totally right about that depends. Please make a PR removing it.

[2016-03-02 00:53] #76 closed, assigned to nobody

[2016-03-15 00:08] ivantodorovich commented on #62
https://github.com/OCA/commission/pull/78 will probably solve it.

[2016-03-15 00:08] ivantodorovich commented on #49
https://github.com/OCA/commission/pull/78 will probably solve it.

[2016-03-15 00:08] ivantodorovich commented on #25
https://github.com/OCA/commission/pull/78 will probably solve it.

[2016-03-15 00:08] ivantodorovich commented on #52
https://github.com/OCA/commission/pull/78 will probably solve it.

[2016-03-15 00:39] ivantodorovich commented on #71
FIXED by adding support to Transifex. It automagically generates and updates `.pot` files.

[2016-03-15 00:39] #71 closed, assigned to nobody

[2016-03-21 14:22] mileo opened #81 "Error: QWeb2 - template['ListView.row']: Runtime Error: Error: Unknown m2m command 0"
Hi,

The last update on sale_commission breaks sale order and invoice lines view.

How to reproduce:

Login or any other instance http://3144043-8-0-f3c950.runbot2.odoo-community.org/web?db=3144043-8-0-f3c950-all#view_type=form&model=sale.order&menu_id=316&action=403

1- Configure some costumer with a default agent.
2- Create a new sale order with this costumer;
3- After add a new item:

![captura

[2016-03-21 18:15] jjscarafia opened #82 "Error on Sale Commission Module, can not add a second SO line. TypeError: Cannot read property 'constructor' of undefined"
Steps to reproduce (tested on runbot and local):
1. log in with admin
2. Go into quoatations menu / enter SO "SO003"
3. Enter partner "Chamber Works"
4. Assign "Agents" with "agent 1", save and go back to sale order
5. Click on "add an item", choose "ice cream", without saving click on "Add an item", you should get an error with "TypeError: Cannot read property 'constructor' of undefined"

I have

[2016-03-21 18:49] pedrobaeza commented on #82
This PR solves it: https://github.com/OCA/commission/pull/78

[2016-03-23 12:37] jjscarafia commented on #82
Thanks for the response, I close this issue, as is being fixed on https://github.com/OCA/commission/pull/78

[2016-03-23 12:37] #82 closed, assigned to nobody

[2016-04-01 14:12] ghost commented on #81
@mileo  am facing same issue have you found any solution ?

@pedrobaeza Can you please help to fix this issue ?

Thanks in advance.

[2016-04-02 17:35] pedrobaeza commented on #81
This is solved in the last version with the inclusion of https://github.com/OCA/commission/pull/78. Please check now.

[2016-04-02 17:35] #81 closed, assigned to nobody

[2016-04-02 18:58] hbrunn commented on #81
actually, the problem has nothing to do with this widget, it's caused by https://github.com/odoo/odoo/pull/11282#issuecomment-204538025

[2016-04-02 18:59] pedrobaeza commented on #81
Thanks for the tip. I thought it was something with the widget.

[2016-04-04 08:53] codingforfun commented on #81
@mileo
I try to reproduce this, since https://github.com/odoo/odoo/pull/11282 was made by me and has been identified as the cause for your problem by @hbrunn. However I can't reproduce from your description. The link isn't working and I can't find what you mean by `default agent`. Is this specific to `sale_commision` module? Where do I find this?
Normal sale order creation seams to work fine for m

[2016-04-08 05:22] mileo commented on #81
@MeetSCS @codingforfun

Fixed with #78

Tested with:
https://github.com/OCA/web/commit/fc38550429e6718f0d13b2e883726aa231c9ca09
and
https://github.com/OCA/OCB/commit/17d056a59bc902182da65af17a3d73fac49ffd0b

[2016-04-08 05:51] ghost commented on #81
@mileo @pedrobaeza @hbrunn Thanks a lot guys !!

[2016-04-18 15:14] GMo888 commented on #32
Hello,   the module is already compatible with Odoo 9 ?

[2016-04-18 15:18] pedrobaeza commented on #32
Check the corresponding PR.

[2016-04-22 20:06] danidee10 opened #87 "I can't seem to get the sales commision to work and settle Agents"
I've installed this module, created a sales order and attached an agent to the sales order however when i try to make settlements no invoice gets raised. in fact nothing happens at all the dialog just dis appears. i also did a little investigation, the "settle commissions" and "make settlements" button are linked to the wizard/wizard_settle.py which is a TransientModel and is not going to be persi

[2016-04-23 07:55] pedrobaeza commented on #87
Settlements are made over due periods. That's to say, if you make an invoice on 5th of June and your settlement period is monthly, you have to settle from 1th of July and above.

[2016-04-23 07:55] #87 closed, assigned to nobody

[2016-04-23 12:37] danidee10 commented on #87
Oh....Thank you very much i actually figured it out this morning. Thanks
anyway

[2016-05-03 07:03] aitorbouzas opened #88 "Agents on invoice when invoicing from picking"
Hi,

Just tested the module sale_commissions, it works nice, but there are too little questions i'd like to ask.
1. Is there any way to reflect the agents in the invoice when a sale order is invoiced from picking? At the moment I think this is something the module should do (maybe it really does, but for me it is not working, should I configurate something?)
2. Is there any kind of way to see/prin

[2016-05-03 07:58] aitorbouzas commented on #88
Question 1 answered in #89

[2016-05-04 10:09] aitorbouzas commented on #88
I think it would be nice to have some menu item where to list all the settlements to be able to group them by agent, by month, etc.
Or maybe some kind of way to print the settlements of a period.

It would be really helpful, too, to have some report or some method to check how much will be settled in a period without settling them...

[2016-05-04 10:11] pedrobaeza commented on #88
For 2, remove the settlement and make it again.

The feature yo say is nice, but needs someone to do it. If you want...

[2016-05-04 14:53] aitorbouzas commented on #88
Ok,

I'm working on adding a menuitem and a qweb report for settlements.

[2016-05-04 15:24] pedrobaeza commented on #88
Better to have an analysis view than a qweb report.

[2016-05-04 15:32] aitorbouzas commented on #88
Isn't there already one?

[2016-05-04 16:06] pedrobaeza commented on #88
I'm afraid not. Closing to continue on the PR.

[2016-05-04 16:06] #88 closed, assigned to nobody

[2016-06-20 13:13] alinepy commented on #1
Hi, I installed this module and configured the Agent to a Employe of my company, and selected de type of commision equal a Salesman, this is ok, but how I do the commision liquid to a Employee Salesman?

[2016-06-20 13:17] max3903 commented on #1
@alinepy As I said, it is not linked with payroll yet. It creates a supplier invoice for the employee.

[2016-06-20 14:36] pedrobaeza commented on #1
Please check known issue section which explains that there's functionality missing that has to be developed: https://github.com/OCA/commission/tree/8.0/hr_commission#known-issues--roadmap

[2016-06-20 14:36] #1 closed, assigned to nobody

[2016-06-30 08:37] elicoidal opened #97 "Commission based on product category"
Hi,
I have a customer who has commission based on product category.
Would you welcome a PR or new module that would define a percentage on product category and set the commission type "Product Category based"?
Thanks for your feedback

[2016-07-21 13:41] julienb31 commented on #44
Hello everyone.
I am a newcomer to the Odoo universe, which I recently installed in my business.
I have some difficulty for setting sale_commission_formula.
I would like to create a formula that calculates the various commissions according to the category of product, but I do not know how. (Eg if the product is in category A = 5% commission / if product is in category B = 7.5% commission etc.)
The

[2016-08-11 15:59] #62 closed, assigned to nobody

[2016-08-11 16:57] ivantodorovich commented on #25
This is fixed now, since https://github.com/OCA/commission/pull/78 was merged.
@pedrobaeza or @mfzoutsource  can you close it?

[2016-08-11 17:00] #25 closed, assigned to nobody

[2016-08-27 18:40] pedrobaeza commented on #97
@elicoidal, maybe this can help: https://github.com/OCA/commission/pull/95

If not, an improvement over sale_commission_product would be welcome.

[2016-08-28 00:44] elicoidal commented on #97
@pedrobaeza thanks. I will have a look

[2016-09-10 00:12] tkontogi opened #101 "Commission for employee"
Hello Ecosystem

Can we use this module to pay commission to employees?

Is there another method of doing that?

Thank you
Theo

[2016-09-29 23:19] alanljj opened #102 "install problem with 8.0.3.0.0"
module: sale_commission
version: 8.0.3.0.0

**Steps to reproduce**
- upload addon
- clean all cookie and cache of browser
- update modules
- install

**Current behavior**
Odoo Server Error
Traceback (most recent call last):
  File "/opt/odoo/openerp/http.py", line 544, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/openerp/http.py", line 581

[2016-10-06 12:48] pedrobaeza opened #103 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [ ] hr_commission
- [x] sale_commission - By @hurrinico - #117
- [x] sale_commission_formula - By @hurrinico - #122
- [x] ~~sale_stock_commission~~ - Not needed anymore

[2016-10-14 01:26] pedrobaeza commented on #102
Old views should be automatically purged, but in this case, just remove them by SQL

[2016-10-14 01:26] #102 closed, assigned to nobody

[2016-11-03 05:28] lalit-kumar-eits opened #105 "TypeError: Cannot read property 'Constructor' of undefined /Home/ViewCategory:48"

[2016-11-03 05:45] pedrobaeza commented on #105
Doing what?

[2016-11-03 09:20] lalit-kumar-eits commented on #105
How to fix popover Div

[2016-11-09 13:19] scigghia opened #106 "net_amount should be like untaxed amount"
I think here https://github.com/OCA/commission/blob/8.0/sale_commission/models/account_invoice.py#L150
the correct way should be like this
[code]
using account.tax to compute the untaxed amount.

[2016-11-09 14:37] pedrobaeza commented on #106
Closing as there's already a PR.

[2016-11-09 14:37] #106 closed, assigned to nobody

[2016-11-25 05:42] alanljj commented on #102
@pedrobaeza Thank you for your answer, could you please share a little more which views must be purged?

[2016-11-25 06:08] pedrobaeza commented on #102
You have the view_id in the traceback.

[2016-11-25 08:37] alanljj commented on #102
DELETE FROM ir_ui_view WHERE id = 3437;
DELETE 0
And the view_id changes every time, everytime I can't del it.
@pedrobaeza  May I ask wether my commond is wrong?

[2016-11-25 09:38] pedrobaeza commented on #102
`parent_id: 126`

[2016-11-25 09:57] alanljj commented on #102
@pedrobaeza look like there is no record for parent_id: 126. Thanks again!
=> DELETE FROM res_partner WHERE parent_id = 126;
DELETE 0
Please give me more suggestion!

[2016-11-25 09:59] pedrobaeza commented on #102
[code]

[2016-11-25 10:01] alanljj commented on #102
@pedrobaeza  here is the result:
=> DELETE FROM res_partner WHERE id = 126;
DELETE 0
=> DELETE FROM res_partner WHERE inherit_id = 126;
ERROR:  column "inherit_id" does not exist
LINE 1: DELETE FROM res_partner WHERE inherit_id = 126;

[2016-11-25 10:07] pedrobaeza commented on #102
Wow, I haven't seen the model!!
[code]

[2016-11-25 10:24] alanljj commented on #102
@pedrobaeza  but the id 126 is a form view for Customer "res.partner.form", I can't delete it, many addons inherit from it.
It's blonge to base addon res_partner, is there any conflict with this model?

[2016-11-25 10:26] pedrobaeza commented on #102
You should delete views and update your base module.

[2016-11-25 10:32] alanljj commented on #102
@pedrobaeza  I found there are 40 form views inherit from id=126, that means I need uninstall all of this iherit addons, then I can delete id=126.

May I ask whether their have any solution update the sale_commission to solve this problem?

[2016-11-25 11:14] pedrobaeza commented on #102
Sorry, I have already told you how to solve it.

[2016-11-25 11:19] alanljj commented on #102
Anyway, I am really appricated you time, thank you very much!

[2016-11-26 03:14] alanljj commented on #102
@pedrobaeza I come here to thank you for your suggestion.

after git pull latest source and updated the model base, it was installed successfully.

[2016-11-26 13:15] pedrobaeza commented on #102
Good to know that.

[2016-12-15 18:21] enriquemartin opened #110 "Settle wizard creates many settles for same invoice and agent combination"
Self explicative title.
Fix in #109

[2017-01-03 22:39] tkontogi opened #112 "Flow chart to settle and invoice commissions please?"
Hello,

sale_commission

This looks a brilliant module but not all of us can read through the code or know python.

Is there a clear step by step flow chart on how to start with an invoice, add commission agent on the line and end up paying the agent?

I have many invoices, and now that it is time to settle the payments (year closure) I get zero as settled amounts for all agents.

I tried in the l

[2017-01-03 22:47] pedrobaeza commented on #112
See the README, try it in runbot, or ask in Odoo forum. Issues are for notifying problems with the module itself.

[2017-01-03 22:47] #112 closed, assigned to nobody

[2017-01-03 22:52] tkontogi commented on #112
Thank you for your prompt reply.

Not trying to offend anyone here, but luck of detailed info in README is counted as bug.

I do agree that this is not the place to ask for help, but it is my humble believe it is the right place to ask for enhancements (also in the documentation)

Thank you for your contribution to the community which my comments have no intention to reduce it.

[2017-01-03 22:58] pedrobaeza commented on #112
Well, the problem is that if nobody contributes with proper documentation, the module won't have it, so it's a cycle... Anyway, sometimes people want to document all the part of Odoo that any module expands, and that's out of the scope of the module itself. Besides, I don't know which module you have problem with (as you are not indicating it).

[2017-01-03 23:10] tkontogi commented on #112
Got so stuck on trying to figure out how to make it work, that I missed that part!!

Corrected the initial comment

The module is: sale_commission

[2017-01-03 23:24] pedrobaeza commented on #112
The typical knowledge issue with this module is that you try to make the settlement of invoices of the current period, and for that, you need to put a date in the future when the current period is past.

[2017-01-10 18:28] tkontogi opened #113 "Single invoice for all settlements?"
It would be really convenient to have the option to invoice all open settlements in a single invoice.

Maybe it can be done via journal entries, or it has been explained in other git reports, however I did not find it.

Apologies in advance if this is a duplicate.

[2017-01-10 18:35] pedrobaeza commented on #113
If you are talking about all open settlements for the same agent, that's not the usual case: people wants to be paid as soon as possible. You don't join several settlements in one invoice. If that's your case, you can use the module for merging invoices.

If you're talking about all the settlements from all the agents, that's something without meaning, as each agent is a different supplier.

[2017-01-10 18:35] #113 closed, assigned to nobody

[2017-01-11 06:07] tkontogi commented on #113
Thank you for being so prompt.
Indeed the request was for a single agent.
And I was not aware of the invoices merge module. Your hint was of great help.

[2017-01-17 21:07] ssaid opened #114 "sale_commission, filtered problem, 8.0"
Hi folks, I'm having a problem with the following line in:
[https://github.com/OCA/commission/blob/8.0/sale_commission/wizard/wizard_settle.py#L70](wizard_settle)

For example, instead of making a settlement with two lines it makes two settlement(s) with one line each.

Any idea of why this is not working ? I've checked out others filtered methods and they are similar to this one.

Thank you!

[2017-01-18 14:12] ssaid commented on #114
Hi!, I'm sorry the error reported here was a problem with my debugger (IPDB), but there is still a problem with the quantity of settlements(one for each invoice with commission), but I'll address it in other issue.

Great module, thanks!

[2017-01-18 14:12] #114 closed, assigned to nobody

[2017-01-24 10:51] maxpasquinucci commented on #103
Hi pedro, can you tell if this module will be migrate to ver 10 ?
i m a newbie in odoo so i cannot understand if i can help, actually i tried but without any success.

[2017-01-24 10:54] pedrobaeza commented on #103
For now there are no news of any migration effort, but this is a voluntary job, so it's not planned and maybe tomorrow someone migrates them. For helping in the migration, you need to know programming and usually a lot of Odoo stuff, so it's a bit out of the scope here to say yo what to do for migrating a module.

[2017-07-26 09:46] Daniel-CA commented on #110
This issue can be closed when #127 is merged.

[2017-07-26 09:47] Daniel-CA commented on #105
This issue can be closed.

[2017-07-26 09:48] Daniel-CA commented on #101
You need the module hr_commissions.

[2017-07-26 09:53] Daniel-CA commented on #65
Lack of information, there is no way to replicate this error, this issue can be closed.

[2017-07-26 10:02] Daniel-CA commented on #49
Tested in a runbot instance and the bug doesn't happen, can be closed.

[2017-07-26 10:08] Daniel-CA commented on #33
This issue can be closed.

[2017-07-26 11:16] #33 closed, assigned to nobody

[2017-07-26 16:00] #49 closed, assigned to nobody

[2017-07-26 16:00] #105 closed, assigned to nobody

[2017-07-26 16:01] #65 closed, assigned to nobody

[2017-07-26 16:01] #101 closed, assigned to nobody

[2017-08-07 14:23] masterseo2000 opened #129 "Does this plugin work with v10?"
Does this app work on V10 if not is there another free app that would do it?

[2017-09-06 15:49] fgarcia-humanoide opened #131 "[commision odoo 9] error after installing module"
After installing the module, I can't create a procuct. This error appears:

Error: Campo desconocido cost_method en el dominio ["&",["valuation","=","real_time"],["cost_method","in",["standard","average"]]]

http://192.168.17.123:8069/web/content/431-4a157d1/web.assets_backend.js:3223
Traceback:
compute_domain@http://192.168.17.123:8069/web/content/431-4a157d1/web.assets_backend.js:3223:42
compute

[2017-09-06 15:50] pedrobaeza commented on #131
This has nothing to do with this module. Check the domain and you will see that they are not fields of this module.

[2017-09-06 15:50] #131 closed, assigned to nobody

[2017-09-26 06:42] wetmount commented on #129
Tried it today as of 2017/9/26 and it's not working. It seems migration to v10 is not complete yet.

[2017-09-26 06:58] JordiBForgeFlow commented on #129
You can review https://github.com/OCA/commission/pull/117

The module.is about to be.merged

On Sep 26, 2017 8:42 AM, "Wetmount" <notifications@github.com> wrote:

[2017-10-03 14:01] pedrobaeza opened #132 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [x] hr_commission - By @pedrobaeza - #174
- [x] sale_commission - By @etobella - #135
- [x] sale_commission_formula - By @etobella - #136
- [x] sale_commission_pricelist - @eLBati - #163

[2017-10-16 08:01] lucode opened #134 "[sale_commission] V10 bug"
There is a bug in combination of the project_issue module. If I install sale_commission and then project_issue I get the following error:
[code]
If I install project_issue first then it is fine.

[2017-11-17 21:06] emagdalenaC2i commented on #132
@pedrobaeza #136 is merged, should you check it here?

[2017-11-18 16:12] pedrobaeza commented on #132
Yes, marked. I have a bit of delay checking latest merges due to the Madrid CS

[2018-01-04 10:09] Plaoo opened #140 "[sale_commission] V10 Creating commission invoice, get a warning "Could not find any account to create the invoice""
Hi guys, I try sale_commission module for odoo v.10 with demo data. I can't create a Settlements with agent field, this make a problem when i try to create a commission invoice, if click on "Create Invoices" I get this warning **"Configuration error!
Could not find any account to create the invoice, are you sure you have a chart of account installed?"**
What should I set up in accounting?

[2018-01-04 10:11] pedrobaeza commented on #140
Sorry, but this is not a bug, so you have to go to official documentation or Odoo forums to see how to properly configure Odoo accounting.

[2018-01-04 10:11] #140 closed, assigned to nobody

[2018-01-24 09:57] hurrinico commented on #134
Hi @lucode i've recently tried to reproduce the issue locally but everything looks fine. Can you check it? thank you

[2018-01-24 10:08] lucode commented on #134
Hi @hurrinico I can't reproduce the issue my self anymore. So I close the post.

[2018-01-24 10:08] #134 closed, assigned to eLBati, hurrinico

[2018-01-30 01:36] damsoi01 opened #145 "No settlement possible"
Odoo 10
Hello everyone,
I assigned agents (who are also employees as salespersons) to clients, and now it's the first month, I want to settle the commissions for each agent to know what to pay them and the menu settlement returns an empty table.
I thought I might have misconfigured the module or something, but all the sales have the agent assigned to each line of product and the total of coms appe

[2018-01-30 01:38] pedrobaeza commented on #145
You have to make the settlement in a date in the future that has passed the period interval. For example, for settlement of January, you have to put a date in February.

[2018-01-30 01:38] #145 closed, assigned to nobody

[2018-01-30 01:40] damsoi01 commented on #145
I understand, I tried it and it looks like it's working indeed!
Silly me, I was settling within the range of the settlement!

[2018-04-17 12:07] NPubul opened #152 "Button "Recompute Line Agents" disappears!"
When We send a quation via button "sen by email", the button "Recompute Line Agents" disappears!

Thanks!!

[2018-04-17 12:09] pedrobaeza commented on #152
Version?

[2018-04-17 12:51] NPubul commented on #152
10.0.1.0.7

Lo curioso es que luego en el borrador de la factura vuelve a aparecer

PRESU

BORRADOR FACTURA

Aprovecho para comentaros otra cosa que nos pasa; es que si en un presupuesto y pedido de venta tenemos las comisiones calculadas y si en el borrador editas para por ejemplo cambiar la fecha, te borra las comisiones y si no vas a abajo a calcularlas otra vez y validas la factura va sin cami

[2018-04-17 18:51] pedrobaeza commented on #152
You have to write in English, and what you are commenting is the expected behavior. Check Known issues section in the README.

[2018-04-17 18:51] #152 closed, assigned to nobody

[2018-04-21 22:38] ferdiga opened #153 "commission should be deducted from margin"
![image](https://user-images.githubusercontent.com/6248560/39089350-67975354-45c5-11e8-913b-e3c0f1535ad2.png)

[2018-04-23 12:08] pedrobaeza commented on #153
For that, you will need to develop a bridge module `sale_commission_margin`, as it's not covered. Any way, some people will argue that the don't want to consider the commission as a margin reduction, but other kind of cost.

[2018-04-23 12:09] pedrobaeza commented on #153
Any way, this is not a bug itself, but a missing feature/module, so I close.

[2018-04-23 12:09] #153 closed, assigned to nobody

[2018-05-02 14:21] JordiBForgeFlow opened #154 "[11.0][sale_commission] Cannot add lines to an invoice"
Due to a bug in Odoo (see https://github.com/odoo/odoo/pull/24530) when you now create a new invoice and try to add a line you'll get the following error:

![image](https://user-images.githubusercontent.com/7683926/39528608-d740e26c-4e24-11e8-80d5-07eb7e1b5594.png)

[2018-05-02 14:25] pedrobaeza commented on #154
Solution in #151, but for v10.

[2018-05-02 14:26] JordiBForgeFlow commented on #154
I don't think so... The error is explained in https://github.com/odoo/odoo/pull/24530

[2018-05-02 15:35] pedrobaeza commented on #154
OK, then it should be fixed already in latest builds.

[2018-05-02 15:54] JordiBForgeFlow commented on #154
The PR merged by odoo does not fix the problem.

[2018-05-02 15:58] pedrobaeza commented on #154
Well, but this shouldn't be fixed here as said in the PR, but on Odoo itself.

[2018-05-17 08:45] NPubul opened #158 "Sales Comissions - sale_commission v 10.0.1.0.7"
Helo!, two things:

1.- I have set for comissions Invoice Status "Payment Based", but when we do the settlement it takes the date of the invoice instead of the date of payment.  Example.  I have an Invoice dated April27 and payd May 03 and it is en April settelmentes.

2.- When in an invoice there are two payment terms, it makes me the total settlement without having charged the second term

Thaks

[2018-05-17 17:23] damsoi01 commented on #145
Hello,
I upgraded my platform to Odoo 11, upgraded the module as well, and it works to create settlements, only issue is with the invoicing. I get an error message.
![screen shot 2018-05-17 at 11 18 57 am](https://user-images.githubusercontent.com/17989353/40193501-af480334-59c4-11e8-8b4c-8b15294301a4.png)
![screen shot 2018-05-17 at 11 19 09 am](https://user-images.githubusercontent.com/17989353/

[2018-05-17 17:23] damsoi01 commented on #145
I put a date to try and see if it changes anything but it doesn't

[2018-05-17 19:37] damsoi01 opened #159 "Odoo 11 issue when invoicing"
Hello,
I upgraded my platform to Odoo 11, upgraded the module as well, and it works to create settlements, only issue is with the invoicing. I get an error message. I tried adding the date, but it still does it. I'm not sure how to fix it..
Thanks!

![01](https://user-images.githubusercontent.com/17989353/40199670-73dbda2e-59d7-11e8-8209-f6e26d89092c.png)
![02](https://user-images.githubuserconten

[2018-05-19 17:35] pedrobaeza commented on #159
Please try to reproduce it on our runbot infrastructure (you have the link on the README) and specify all the detailed steps to get to the problem.

[2018-05-21 05:48] damsoi01 commented on #159
Hello!
The readme file doesn't have a link other than logos and odoo community and the github page.
For what I see though, the "Make it totally multi-company aware." roadmap issue seems appropriate in my case as I do have 2 companies on my Odoo instance.
Before, when I used it on Odoo 10, it was only one company and therefore had no issue. Maybe this comes from there?
My setup is as follows:
- Mul

[2018-05-21 07:07] pedrobaeza commented on #159
You are right about the link. Here it is:

http://3326562-11-0-f0bac8.runbot2.odoo-community.org/?db=3326562-11-0-f0bac8-all

with admin/admin or demo/demo.

Please try to reproduce the problem there.

[2018-05-21 17:20] damsoi01 commented on #159
Can't seem to be able to reproduce the problem. Is there a way you could look directly into my Odoo instance?
In you demo I created a new company, different currency, assigned a product to it, and a commission product to it, and it does create the invoice nonetheless.
I don't see a difference between your demo and my configuration...

[2018-05-21 17:27] pedrobaeza commented on #159
The usual reason for not being able to reproduce it is because you have an specific module, outdated code, etc in your deployment that provokes the problem, but it's not an Odoo problem itself, and I can't provide free support to your custom DB because I'm doing this in a voluntary base for helping in finding and tracking actual issues.

Closing this then.

[2018-05-21 17:27] #159 closed, assigned to nobody

[2018-06-16 10:09] pedroortega-punt opened #165 "[9.0]/[10.0][sale_commission] Error in assigning invoice date."
Hello,

Error in invoices to calculate the commission in invoice lines, when an invoice is created and lines are added, register the agent assigned to the client in the lines.

Once the invoice is saved without assigning an invoice date, and then we want to assign a date to the invoice, recalculate the records of the lines and show as if there were two records in the agents, and when we save it in

[2018-06-16 12:37] pedrobaeza commented on #165
This is a problem in the web client itself with nested one2many fields. I have workarounded this in v10 with #151 (check known issues for its limitations). Something similar can be done on v9.

[2018-06-27 10:11] ECarlesso opened #166 "[10.0] lines agents disappeared on change carrier"
Hello,
I activated delivery management.
when I change the carrier on the sales order,
the agent lines connected to the order line disappear.

[2018-06-27 10:22] pedrobaeza commented on #166
https://github.com/OCA/commission/pull/151 solves it.

[2018-06-27 11:37] ECarlesso commented on #166
thanks

[2018-06-29 03:32] datahaulic opened #167 "Error with installation of Module sale_commission v11.0"
My attempted installation of sales_commissions module via odoo.sh v11 is failing and returning the follow error: **raise UserError(_('Please define an accounting sales journal for this company.'))**

Any help and guidance on this greatly appreciated.

[2018-06-29 07:27] pedrobaeza commented on #167
Sorry, but the error is clear and this has nothing to do with the module itself. Install a chart of accounts in your company to have a sales journal.

[2018-06-29 07:27] #167 closed, assigned to nobody

[2018-06-29 15:13] datahaulic commented on #167
Thank you for your response @pedrobaeza I have setup the sales journal but still encountering the error. Is there a specific configuration that's required for the sales journal?

[2018-06-29 15:16] pedrobaeza commented on #167
Not AFAIK. Try on a fresh database. You can see on runbot + Travis that is being installed without problems.

[2018-06-29 16:30] datahaulic commented on #167
I tested on runbot and saw it working there. Tried on a fresh Enterprise .sh database but still encountering errors. Nothing seems immediate between setting in runbot vs. my environment apart from the enterprise versions.

[2018-07-07 01:44] datahaulic commented on #167
I still was not able to get by the error as constantly trying. Are there any other possible recommendations/suggestions in getting a resolution?

[2018-07-09 18:55] datahaulic commented on #167
Odoo support came back saying all is well as far as the setup and configuration goes and suggested I check again with OCA seeing that the errors are generated during the series of test. I am attaching a txt file which contains messages from the error log. Can you take a look at this please?
[Odoo_Sales_Commission_Error.txt](https://github.com/OCA/commission/files/2177599/Odoo_Sales_Commission_Erro

[2018-08-01 11:06] ruthbeat opened #173 "Can't Install Module on Odoo 11"
Error while importing module 'sale_commission':
 "Fallo en la carga del módulo sale_commission: no se pudo procesar el archivo /tmp/tmpjquc5nq3/sale_commission/security/ir.model.access.csv:

No se han encontrado registros coincidentes para id. externo 'model_sale_commission' en el campo 'Object'
Missing required value for the field 'Object' (model_id)

No se han encontrado registros coincidentes p

[2018-08-01 11:08] pedrobaeza commented on #173
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo-community.org), so please be sure you are following the proper installation instructions for Odoo itself.

[2018-08-01 11:08] #173 closed, assigned to nobody

[2018-08-01 11:11] ruthbeat commented on #173
Odoo 11 Comunity sobre debian instalacion limpia sin datos de ejemplo base de datos creada en español

[2018-08-01 11:18] ruthbeat commented on #173
@pedrobaeza ?

[2018-08-01 11:20] pedrobaeza commented on #173
Nothing more to say. You should deal with the problem, as it's not something of the module.

[2018-09-17 08:32] unpezllamadomiki opened #177 "the copyright character makes the module not work [11.0]"
I had to eliminate the copyright character in v11 because it produces an error related to ASCII

[2018-09-17 08:37] pedrobaeza commented on #177
The problem is you're using Python 2 where you have to run it with Python 3.

[2018-09-17 08:37] #177 closed, assigned to nobody

[2018-09-27 00:03] OCA-git-bot opened #178 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] hr_commission - By @kongrattapong - #219
- [x] sale_commission - ~~By @aitorbouzas - #179~~ By @pedrobaeza - #193
- [x] sale_commission_formula - By @novawish - #202
- [x] sale_commission_pricelist - By @novawish - #203 / By @ernestotejeda #205

[2018-10-02 15:27] pedrobaeza commented on #132
Finished!

[2018-10-02 15:27] #132 closed, assigned to nobody

[2018-10-09 02:42] novawish commented on #178
Hello, we are working on the migration of these modules:

- sale_commission_formula
- sale_commission_pricelist

[2018-10-27 11:33] bayatmu opened #180 "[11.0]Error when trying to make invoice"
Hi
I am getting the attached error when trying to make the agent invoice for odoo Version 11
![capture](https://user-images.githubusercontent.com/6464869/47603501-4a34f680-d9f5-11e8-8979-103d1707f553.JPG)

[2018-10-27 13:06] pedrobaeza commented on #180
Agent (partner) seems to not have a company.

[2018-10-27 13:06] #180 closed, assigned to nobody

[2018-11-02 16:22] lucasirtori opened #185 "[v10] Problem list generation commissions for invoices previous year"
I can not use the "decide your commissions" command to insert the commissions accrued in previous years.

[2018-11-02 16:59] pedrobaeza commented on #185
Please in English.

[2018-11-02 16:59] #185 closed, assigned to nobody

[2018-11-05 08:52] angelmoya opened #186 "[ERROR] [11.0] Settlement Invoices don't compute taxes"
If commission product has taxs, when you create invoice from settlemente taxes are not computed.

Tested on runbot.

![vendor bill odoo](https://user-images.githubusercontent.com/6750341/47987654-58af9c00-e0e0-11e8-8e0e-9db1ae50f566.png)

We will fix it on version 11.0

[2018-11-05 16:30] angelmoya commented on #186
Fixed on #187

[2018-12-20 08:46] ghost opened #194 "[11.0][Bug] Issue on commission analysis: Can not open it"
Hi guys,

I got this error when trying to open menu Invoicing > Reporting > Management > Commission Analysis.
![screenshot from 2018-12-20 15-13-45](https://user-images.githubusercontent.com/10511982/50273834-51650780-046e-11e9-890d-933ffa3687ee.png)

Field `amount` is defined in Abstract model `sale.commission.line.mixin` but it is not re-defined the logic by inherited models `account.invoice.lin

[2018-12-20 08:50] ghost commented on #194
reproduced at runbot http://3350927-11-0-9f64c4.runbot1.odoo-community.org/web?debug=1#view_type=list&model=account.invoice&menu_id=136&action=217

[2018-12-20 16:03] #194 closed, assigned to nobody

[2018-12-20 16:03] pedrobaeza commented on #194
It's not by the reason you stated, but there's obviously a problem. Solved in the above commit.

[2018-12-21 04:18] ghost commented on #194
Thanks for your help @pedrobaeza

[2018-12-22 06:49] bodedra commented on #186
These issue can be close as a fixed reference https://github.com/OCA/commission/pull/187

[2018-12-22 10:56] #186 closed, assigned to nobody

[2018-12-27 19:41] pedrocs-exo opened #195 "Multiple agents on same invoice line"
Hi,

I hit an error when I try to save an invoice containing 2 agents on the same line. Is it a bug or is the code designed to handle 1 agent per line?

I'm on v10. The offending code is the `self.ensure_one()` on the _compute_amount() method. If it's just a bug, I can help squash it.

Thx!

[2018-12-27 21:08] pedrobaeza commented on #195
Please update to latest code, where there is no such problem.

[2018-12-27 21:08] #195 closed, assigned to nobody

[2018-12-27 22:11] pedrocs-exo commented on #195
Thanks Pedro,

I'm using the latest code. The steps to reproduce the error are quite simple:

1. Create two different agents and configure their commissions
2. Create a sales order and add a line to it. Add the two agents to the line
3. Save and the error occurs

The traceback is:
[code]

[2018-12-27 23:56] pedrobaeza commented on #195
OK, seen the error and fixed in 82ccffe5a1e8a2da4123a53a391037b0d069c011

Thanks for reporting.

[2018-12-28 00:29] pedrocs-exo commented on #195
Thank you!

[2018-12-28 01:47] emagdalenaC2i commented on #178
@novawish are you still working on sale_commission_formula and sale_commission_pricelist?

[2018-12-28 18:11] pedrocs-exo commented on #195
Just wanted to let you know that the problem only occurs on sales orders. Invoice lines with multiple agents work fine.

[2018-12-31 10:05] pedrobaeza commented on #195
Fixed in https://github.com/OCA/commission/commit/3894626510162410e6c378058f69351f07c33325

[2019-02-02 17:17] josefausto opened #199 "Invalid Company error message"
Hello dears
I try to use the Sales comissions module by i receive the error as the image **Invalid field: Company.**
I use Odoo11 and i have installed Sales commissions and Sales commissions by pricelist.
I try to do clicking on Save or Create Invoice, but is same answer.
Sorry maybe my configuration is bad.
Thanks
Jose
![comissions](https://user-images.githubusercontent.com/43821372/52167115-54e1

[2019-02-03 03:30] pedrobaeza commented on #199
Please try to reproduce the problem in runbot (admin/admin): https://runbot.odoo-community.org/runbot/165/11.0

[2019-02-04 16:53] josefausto commented on #199
Thank Pedro for the fast answer
I opened Odoo in your link and i tried to reproduce the problem, but i donot find the button create, but in my Odoo i have. Look at the images.
![liquidaciones1](https://user-images.githubusercontent.com/43821372/52223334-66a5c200-2873-11e9-80f5-54b378f5dba4.jpg)
![liquidaciones2](https://user-images.githubusercontent.com/43821372/52223335-66a5c200-2873-11e9-9fa1-46

[2019-02-04 16:55] pedrobaeza commented on #199
Settlements are not directly created, but through the wizard...

[2019-02-04 16:55] josefausto commented on #199
Sorry i mistaken and closed, still i want keep open.

[2019-02-04 18:39] josefausto commented on #199
If you means i can do from "Settled Commisions or create Commissions Invoices" I tried in different ways and i donot have more ideas how to do.
Sorry, looks i am like a dumb trying do this, i donot get any error, but finally i donot got it work.
Thanks anyway.

[2019-02-04 18:41] pedrobaeza commented on #199
Because you are selecting incorrect date. If you want to settle a month, you have to put at least the date after the month have passed (01/02 for January for example).

[2019-02-04 18:51] josefausto commented on #199
Hi, i used the format 01/02/2019 (day/month/year) for january insettle commissions , but donot get anything.
Sorry,

[2019-02-04 18:54] pedrobaeza commented on #199
Well, don't write it, but select on the calendar for being sure. But any way, do you have invoices with commissions for settling then?

Closing this as it's clear there's no error.

[2019-02-04 18:54] #199 closed, assigned to nobody

[2019-02-20 13:10] novawish commented on #178
@emagdalenaC2i Sorry for late reply, here are the PRs:
* sale_commission_formula: https://github.com/OCA/commission/pull/202
* sale_commission_pricelist: https://github.com/OCA/commission/pull/203

[2019-03-29 21:49] marionumza opened #210 "Problema al generar factura de comisión"
Hola que tal, tengo un problema al generar la factura de comisión, cuando presiono el botón de crear facturas me sale el siguiente cartel

No puede completarse la operación, probablemente debido a lo siguiente:
- eliminación: es posible que esté intentando eliminar un registro mientras que otros registros todavía tienen referencias a él
- creación/actualización: un campo obligatorio no se ha intro

[2019-03-29 21:50] marionumza commented on #210
Estoy trabajando con la version 11 de Odoo CE

[2019-03-30 13:17] sebaramis commented on #210
Replique el fallo y me pasa lo mismo, a la espera de solución.

[2019-03-30 21:45] pedrobaeza commented on #210
Please, always in English, and indicating Odoo version and detailed steps to reproduce the problem.

[2019-03-30 21:45] #210 closed, assigned to nobody

[2019-03-31 02:12] marionumza opened #211 "[11.0] Problem generating commission invoice"
Hello, I have a problem when generating the commission invoice, when I press the button to create invoices I get the following poster:
The operation can not be completed, probably due to the following:

deletion: you may be trying to delete a record while other records still have references to it
creation / update: a mandatory field has not been entered correctly
[object with reference: currency_i

[2019-03-31 17:02] pedrobaeza commented on #211
Please try to reproduce the problem in runbot. Do you have latest code version?

[2019-04-01 15:38] marionumza commented on #211
I have the latest version of the code that I downloaded when generating this issue.
I have already tried the module installing Odoo 11 CE from github, also downloading the windows installer package and also with docker, I tried it creating a base with demo data and another base without data.
Please, send me a link to try in rumbot an instance with the module sale_commission to do the test there to

[2019-04-01 15:40] pedrobaeza commented on #211
You have it on the README, but I paste it here:

https://runbot.odoo-community.org/runbot/165/11.0

[2019-04-01 15:44] marionumza commented on #211
I already try rumbot and there it does not happen to me

[2019-04-01 15:45] pedrobaeza commented on #211
Then it's something on your deployment, as already stated. You have to properly configure everything, and avoid third party modules that can waste this.

[2019-04-01 15:45] #211 closed, assigned to nobody

[2019-04-01 18:43] marionumza commented on #211
I did more tests and note that when installing the Argentine location of IngAdhoc the module behaves in the way I mentioned before, it is a pity that it does not work well in this location, since the location that is predetermined in Odoo does not work in Argentina for the eletronic bills

[2019-04-01 18:55] pedrobaeza commented on #211
Then seems a problem with that one. You should contact Ing. Adhoc to tell about this. They are very nice and at least give you some pointers.

[2019-04-02 09:50] javierjcf opened #212 "[10.0][sale_commission]. When changing warhouse or analytic account, agemts are deleted"
Hi,
To reproduce this issue:

- Create a new Order

- Create a new sale order line set one agent with his commission, save and close the line.

- WHITHOUT SAVING THE ORDER, change the warehouse field to another value.

If you return to the sale order line you will see the record is there but agent and commission is missing.

I think is something about the update of a field in an onchange and the m

[2019-04-02 09:52] pedrobaeza commented on #212
Yes, this is a known issue of the ORM in this version:

https://github.com/OCA/commission/tree/10.0/sale_commission#known-issues--roadmap

[2019-04-02 09:52] #212 closed, assigned to nobody

[2019-04-29 18:57] damsoi01 opened #215 "Agent assignation invisible in contact > Sales n Purchase"
Hi,
I installed the module for odoo 12, in contacts > Sales & Purchase I can only check the box to make this contact an agent or not.
In odoo 10 we used to have a field that could allow us to assign by default an agent so when creating an order we do not need to do it manually on each product.
How can I get the buyers to be assigned to a specific agent by default?
<img width="1154" alt="Screen Sho

[2019-05-02 11:24] tpascualwottan commented on #215
Hello, I'm not a expert, but I miss an xpath for Agents field in /views/res_partner_view

[2019-06-01 15:03] emagdalenaC2i commented on #178
@Yajo Please check sale_commission_pricelist - By @novawish - #203 / By @ernestotejeda #205 that is already merged

[2019-06-03 09:11] yajo commented on #178
Done, thanks.

[2019-06-17 12:18] pedrobaeza commented on #215
Fixed in #217

[2019-06-17 12:18] #215 closed, assigned to nobody

[2019-06-30 13:50] kittiu commented on #178
Hi, can we help migrate hr_commission ?

[2019-06-30 14:20] pedrobaeza commented on #178
Yes, of course! It should be very straight-forward to be migrated.

[2019-06-30 14:34] kittiu commented on #178
Thank you @pedrobaeza , and yes, I am finding the easy one for my staff to get involved :)

[2019-07-01 03:01] kongrattapong commented on #178
Hi, I will migrate hr_commission https://github.com/OCA/commission/pull/219

[2019-07-11 20:57] estekadigital opened #220 "Sale commission invoices to providers"
I'd like to know if I can use this module or I should adapt a new one for the case I will desribe below. At least, I think this module is a nice start point for my requirements. Of course, if I finally have to deploy it as a new module I'd like to add it to the repo if it is of any intestest.

The scenario is as follows:

Besides the normal purchase-sale-invoce workflow, the company A has some cus

[2019-07-12 07:40] pedrobaeza commented on #220
This module doesn't cover this and the main problem you will have is to track that a received product from a determined supplier is the one that has been shipped for a customer. This can only be done through products with lots.

[2019-07-12 08:01] estekadigital commented on #220
By now let's skip the trazability of the product (I think this could be covered by using the dropshipping module right?), I just need to keep record of the sale orders and instead of invoicing the final customer, invoice the provider with the monthly % sales commission (commission rates should be based/configured on product - customer - provider). Thanks for your help

[2019-07-12 11:14] pedrobaeza commented on #220
Then just add them as agents and define the commission.

[2019-07-12 11:14] #220 closed, assigned to nobody

[2019-07-13 09:55] estekadigital commented on #220
Hi @pedrobaeza , thanks for your help, but I still got one doubt. Isn't an agent thought to be paid instead of to be billed ?

[2019-07-13 10:33] pedrobaeza commented on #220
Right, I didn't get that part. Then you only need to add a check on the agent for specifying that there should be customer invoices, and when invoicing, if the check is marked, then switch type and journal of the invoice.

[2019-08-28 08:15] ilaria-franchini opened #222 "[12.0] Error line 67, in _compute_commission_status"
line.commission_status = _( "%s commission agents" ) % len(line.agents)

When I add a line with more of an agent to an invoice, an error occurs to line 67 in _compute_commission_status of sale_commission_mixin.py

[2019-08-28 08:20] pedrobaeza commented on #222
Which error? Is due to the translation?

[2019-09-29 21:28] OCA-git-bot opened #224 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] sale_commission - By @manuelcalerosolis / @pedrobaeza - #237
- [x] sale_commission_formula - By @feketemihai - #248
- [x] sale_commission_pricelist - By @feketemihai - #249
- [x] sale_commission_salesman - By @pedrobaeza - #257

Missing module? Check https://github.com/OCA/maintainer-tools/w

[2019-10-03 08:44] fgarcia-humanoide opened #225 "[11] sale_commission error cannot open sales order after installing"
After installing sale_commission an  error appears if you try to open a sales order

Error:
Uncaught Error: , undefined as prefix

https://midominio.com/web/content/84490-85a8a3a/web.assets_backend.js:104
Rastreo de error:
Error: , undefined as prefix
    at F.nud (https://midominio.com/web/content/84490-85a8a3a/web.assets_backend.js:104:80)
    at expression (https://midominio.com/web/content/844

[2019-10-03 11:44] pedrobaeza commented on #225
Is this reproducible in runbot?

[2019-10-11 20:03] max3903 opened #226 "[12.0.2.0.0][IMP] sale_commission"
# sale.commission

- [ ] Add an option to type: "Flat Rate" (flat_rate)
- [ ] Add a float field "Flat Rate" (flat_rate). Show it and make it required only if the type is flat_rate.
- [ ] Add a selection field "Using" (scope) with the default option "the agent field on the partner" (res_partner_agent)

# sale.commission.line

- [ ] Edit the get_commission_amount method to support flat rate

# sale.

[2019-10-11 20:06] pedrobaeza commented on #226
Seems good for me!

[2019-10-11 20:09] max3903 opened #227 "[ADD] sale_commission_fieldservice"
This module allows you to use Field Service locations to compute commissions.

It adds a new option to scope: Using the related owner of FSM locations, so you can define a commission like
* Give a 2% commission to the owner of a location based on the revenue generated by that location

# Technical Specifications

## sale.commission

- [ ] Add an option to scope: "the related owner of FSM locations

[2019-10-11 20:10] pedrobaeza commented on #227
Should this be here or in OCA/field-service?

[2019-10-11 20:14] max3903 opened #228 "[ADD] sale_commission_agreement"
This module allows you to use agreements information to define and compute commissions.

It adds a new option to type: number of agreements/contracts, so you can define a commission like:
* Give a 50$ commission to the agent for each active agreements/contracts of their customers

# Technical Specifications

## sale.commission
- [ ] Add an option to amount_base_type: "Number of contracts"

## sale

[2019-10-11 20:16] max3903 commented on #227
Aha :) We had the same discussion with brand so I applied the same solution.

[2019-10-11 20:35] pedrobaeza commented on #227
Hehe, ok. There's no good solution when 2 "verticals" are integrated.

[2019-10-11 21:13] pedrobaeza commented on #228
The problem I see is to now, all settlement lines are linked to an invoice line. With this, we will have other without that link, that can cause side effects of code is expecting to have that link.

[2019-10-12 13:25] max3903 commented on #228
@pedrobaeza The related invoice line is the one that pays the commission. This will still be the case.

[2019-10-12 15:00] pedrobaeza commented on #228
Sorry, I mean the invoice line agent: https://github.com/OCA/commission/blob/e41de24dd66f35a80fcde3845cd02758ed22a886/sale_commission/models/settlement.py#L157

[2019-10-14 13:37] max3903 commented on #228
@pedrobaeza So what do you suggest?

[2019-10-14 14:33] pedrobaeza commented on #228
What about?:

- Abstract settlement lines for not depending on invoice agent line (which is required right now).
- Get data (agent, amount, etc) through computed fields that are overwritten depending on your case.

[2019-11-23 18:19] RodrigoBM commented on #225
Yes @fgarcia-humanoide,

I have the same problem, if you have the module https://github.com/OCA/sale-workflow/tree/11.0/sale_order_general_discount, this module not set the context right, the module add double comma to the context and this generate a error.

Regards.

[2019-11-25 08:23] fgarcia-humanoide commented on #225
Thank you for your answer.

Yes ,

https://github.com/OCA/sale-workflow/tree/11.0/sale_order_general_discount

was installed.

[2019-11-25 08:26] #225 closed, assigned to nobody

[2019-11-25 08:26] pedrobaeza commented on #225
Fixed in #229

[2019-12-17 10:10] FFernandez-PlanetaTIC opened #230 "[12.0] sale_commission_pricelist: Does not work on change product"
**Impacted versions:**

At least 12.0

**Steps to reproduce:**

Set up a commission for a product in a pricelist and optionally a discount:

![image](https://user-images.githubusercontent.com/39995504/70985700-d522f580-20bc-11ea-8dea-42d34e53ebbf.png)

**Current behavior:**

On select the product in a sale the discount is set correctly:

![image](https://user-images.githubusercontent.com/39995504/

[2019-12-17 10:15] FFernandez-PlanetaTIC commented on #230
Hi,

Method __onchange_product_id_sale_commission_pricelist_ sets the commission properly but it is not updated in the web client:

https://github.com/OCA/commission/blob/12.0/sale_commission_pricelist/models/sale_order.py#L29

Thanks!

[2019-12-17 15:16] pedrobaeza commented on #230
Have you tried this on runbot? This is working for one of our customer that is using it in v12

[2019-12-17 15:21] FFernandez-PlanetaTIC commented on #230
Yes, screenshots are from runbot and my test is still there:

http://3401350-12-0-b53ff9.runbot1-2.odoo-community.org

[2019-12-17 15:22] pedrobaeza commented on #230
Try to use the other option of not showing the discount to see if that's the problem

[2019-12-17 15:42] FFernandez-PlanetaTIC commented on #230
It still doesn't work without showing the discount or without discount.

I debugged the onchange method and it assigns the desired commission:

https://github.com/OCA/commission/blob/12.0/sale_commission_pricelist/models/sale_order.py#L29

But the change does not reach to the web client...

[2019-12-17 15:47] pedrobaeza commented on #230
Maybe a question of readonly in the corresponding field?

[2019-12-17 16:37] FFernandez-PlanetaTIC commented on #230
I don't think so, the agents field is not read-only, neither in the view nor in the model.

Using browser developer tools I see that in the response to the onchange request there is no change in agents and commissions...

[2019-12-30 13:48] pedrobaeza commented on #178
Closing as completed

[2019-12-30 13:48] #178 closed, assigned to nobody

[2019-12-31 03:52] cagecube commented on #224
Any Chance this will be updated soon to 13?

[2019-12-31 12:57] pedrobaeza commented on #224
This depends on the contributors. You can migrate any of the modules by yourself or fund any contributor to do it for you.

[2020-02-14 11:37] igallart opened #233 "[10] Issue with sale_commission and partner_multi_company"
Hello, when you have module partner_multi_company and sale_commission installed, if you update sale_commission, when is executed the script migrate:

    """Populate company field for settlements"""
    # Populate company_id for sale.commission.settlement,
    # get the company from the settlement's agent's company
    cr.execute(
        'UPDATE sale_commission_settlement '
        'SET company_i

[2020-02-14 14:37] rousseldenis commented on #233
Indeed, company_id can be void.

@SimoRubi Could you check at this ?

[2020-02-17 17:53] t-np opened #234 "Job offer: commission module custom development"
i need development for a odoo v13 commission module "similar" to the oca commission but with a few more twists and bobs. General enhancements could be backported into this commission module if it fits as a base for our requirements. It is an advanced requirement where existing funcionality from another system has to be transferred into odoo.

If anyone has experience in this area and is interested

[2020-02-27 08:21] SimoRubi commented on #233
yep, I'll look into it when I have some spare time, thanks

[2020-05-08 15:24] mileo opened #238 "Purchase Commission"
Some products are complex to buy.

For example, in the fruit and vegetable segment, the products are standardized and can be purchased from several suppliers. In this case, the buyers are also external agents.

We are looking at the feasibility of adapting the commission core to become versatile for controlling purchase and sales commissions.

cc: @CCruzArthur @bielmorales

[2020-05-08 15:27] pedrobaeza commented on #238
It can be feasible to create a base module `commission` for defining agents and commissions and handle then at account level, perform settlements, etc, and then `sale_commission` and `purchase_commission` will manage its part. This can be done for v14 (as v13 is almost migrated in #237), and for <v14 you can depend on `sale_commission`, without being the ideal one.

[2020-05-08 19:40] pedrobaeza commented on #238
For which version do you plan to do this?

[2020-05-08 21:33] mileo commented on #238
The customer (@CCruzArthur @bielmorales) uses v11

[2020-05-08 21:35] mileo commented on #238
I'll show them the modules next week and give you feedback here.

[2020-05-09 08:39] pedrobaeza commented on #238
OK, then the only option is the second. I was about to say that if for v13, we can make the effort of bringing already `base_commission` there, but for v11 is not a possibility.

[2020-05-09 10:28] JordiBForgeFlow commented on #238
FYI, @AaronHForgeFlow is also working on designing Supplier Rebates, using a similar mechanism as the commission, although it's a bit different concept.https://en.wikipedia.org/wiki/Rebate_(marketing)

[2020-05-09 10:38] pedrobaeza commented on #238
@JordiBForgeFlow is that what is called "Rappel"?

[2020-05-11 07:52] AaronHForgeFlow commented on #238
@pedrobaeza Yes, I think it is the same concept.

A company pay a higher price (full price) to the supplier. Depending on sales volumes for the products bought to that supplier, the supplier will pay back some money to the company. Basically, in this case, the commission agent will have to pay, not the company.

[2020-05-11 07:54] pedrobaeza commented on #238
OK, thanks for the answer. @carlosdauden @sergio-teruel FYI

[2020-05-11 08:15] sergio-teruel commented on #238
Coming soon we will carry out the PR of rappel management

[2020-05-12 20:31] sergio-teruel commented on #238
We are working in this PR.. https://github.com/OCA/contract/pull/510

[2020-05-13 08:46] AaronHForgeFlow commented on #238
I was also working on the same concept (https://github.com/OCA/commission/pull/239) but without involving agreements in this case.

[2020-05-21 04:59] Lee8009 opened #240 "Multi Currency support"
For installations using multicurrency setups, the commissions on the invoice are created / shown with the correct invoice currency. However when creating the settlements the commissions are shown in the base currency with no conversions.

i.e for a system where the base currency is in USD and an invoice is created in EUR the comm shows correctly on the invoice with the EUR currency, however when c

[2020-05-21 06:51] #240 closed, assigned to nobody

[2020-05-21 06:51] pedrobaeza commented on #240
Yes, this is a limitation that is not taken into account for now. On 08c6004 I have added that ROADMAP on the README. You can do a PR for adding that support if you prefer.

[2020-06-01 09:49] josepmy opened #241 "[12.0] Commission wrong compute"
Hi,
I'm using the commission module and I detected that sometimes the commission compute is wrong. Attach capture to show it. One line is correct but not the other line. In this case, the commission should be 0,10% of the total.

I have the commission assigned to the salesman and assigned to the partner.
No differences between products that work and the other one that doesn't.
I'm using customer p

[2020-06-01 09:51] pedrobaeza commented on #241
Sorry, but the information provided is not enough and the screenshot say nothing. You have to provide steps to reproduce the problem in a standard runbot.

[2020-06-01 09:54] josepmy commented on #241
OK. Going to test on runbot and report you

[2020-06-16 06:28] LcL54264 opened #244 "Installing the module “sale_commions” error No module named 'odoo.addons,sale_commisn'"
![image](https://user-images.githubusercontent.com/62918960/84739094-96bfb200-afdd-11ea-850d-d478f94c84f9.png)
![image](https://user-images.githubusercontent.com/62918960/84739103-99baa280-afdd-11ea-9e02-6a110c3f74b4.png)
![image](https://user-images.githubusercontent.com/62918960/84739110-9b846600-afdd-11ea-8205-279a72556d4b.png)

[2020-06-16 06:44] pedrobaeza commented on #244
You have an altered version of the module, as no `pyoe` folder is on the official one.

[2020-06-16 06:44] #244 closed, assigned to nobody

[2020-06-16 06:47] LcL54264 commented on #244
Then what should I do

[2020-06-16 06:49] pedrobaeza commented on #244
Take the proper version from this repository.

[2020-06-16 06:52] LcL54264 commented on #244
My version of Odoo is 12.0 ，Which version should I choose?

[2020-06-16 06:52] pedrobaeza commented on #244
https://github.com/OCA/commission/tree/12.0/sale_commission

[2020-06-16 06:53] LcL54264 commented on #244
Thank you very much inde

[2020-06-16 07:06] LcL54264 commented on #244
This module is given by the customer. He has modified part of the encrypted code to PYOE, which needs to be supported by Python version 3.5. How can odoo modify Python version？

[2020-06-16 07:07] pedrobaeza commented on #244
Sorry, but you are on your own with custom modifications.

[2020-06-16 07:09] LcL54264 commented on #244
So I don't know what to do

[2020-07-06 10:44] pedrobaeza commented on #238
Closing this as discussed.

[2020-07-06 10:44] #238 closed, assigned to nobody

[2020-07-06 10:45] pedrobaeza commented on #234
Closing this as it had enough exposure.

[2020-07-06 10:45] #234 closed, assigned to nobody

[2020-07-06 10:45] pedrobaeza commented on #233
Any news about this?

[2020-07-06 10:48] pedrobaeza commented on #228
Closing as no more answers.

[2020-07-06 10:48] #228 closed, assigned to max3903

[2020-07-06 10:48] pedrobaeza commented on #227
Closing as no more discussion.

[2020-07-06 10:48] #227 closed, assigned to max3903

[2020-07-06 10:53] SimoRubi commented on #233
Hi, I still haven't looked into this: it still is in my TODO list but has very low priority so other work tasks (for our customers) usually take precedence.

[2020-07-06 10:57] pedrobaeza commented on #233
As the version is old and is not with the main module alone, but with other combination, I'm triaging this. If the issuer has the solution, he can put a PR if he wants to fix it.

[2020-07-06 10:57] #233 closed, assigned to nobody

[2020-07-06 11:00] pedrobaeza commented on #222
Closing as no answer.

[2020-07-06 11:00] #222 closed, assigned to nobody

[2020-07-06 11:00] pedrobaeza commented on #166
Fixed long time ago.

[2020-07-06 11:00] #166 closed, assigned to nobody

[2020-07-06 11:01] #226 closed, assigned to max3903

[2020-07-06 11:01] pedrobaeza commented on #226
Closing as no more feedback. I have added to roadmap for not losing the tracking: 021f219fd4d6f31fc20c7f7885be00dd31ed21b5

[2020-07-06 11:02] pedrobaeza commented on #129
Closing as migrated long time ago.

[2020-07-06 11:02] #129 closed, assigned to nobody

[2020-07-06 11:02] SimoRubi commented on #233
![image](https://user-images.githubusercontent.com/32064796/86586833-d8160280-bf88-11ea-9338-d6b55cc5322a.png)

[2020-07-06 11:02] pedrobaeza commented on #154
AFAIK, the error is not reproducible anymore, but please comment if so, and put all the details.

[2020-07-06 11:02] #154 closed, assigned to nobody

[2020-07-06 11:04] pedrobaeza commented on #158
For 1, that's the intended behavior. There's no problem in doing multiple settlements for the same period, and including them on payment date will cause other problems.

For 2, settlement is only done on full invoice paid also on current design.

[2020-07-06 11:04] #158 closed, assigned to nobody

[2020-07-06 11:05] pedrobaeza commented on #165
Closing as answered and it's working properly right now.

[2020-07-06 11:05] #165 closed, assigned to nobody

[2020-07-06 11:05] pedrobaeza commented on #110
Closing as solved.

[2020-07-06 11:05] #110 closed, assigned to nobody

[2020-07-06 11:07] pedrobaeza commented on #103
Closing as main modules have been migrated. Mini module `hr_commission` can be migrated for anyone wanting it.

[2020-07-06 11:07] #103 closed, assigned to nobody

[2020-07-06 11:07] pedrobaeza commented on #32
Closing as there's no intention of migrating the rest of the modules to this old version.

[2020-07-06 11:07] #32 closed, assigned to nobody

[2020-07-06 11:08] pedrobaeza commented on #26
Closing as PR was proposed in #38 and finally abandoned.

[2020-07-06 11:08] #26 closed, assigned to max3903

[2020-07-06 11:12] pedrobaeza commented on #241
Closing as no more answer.

[2020-07-06 11:12] #241 closed, assigned to nobody

[2020-07-06 11:13] pedrobaeza commented on #46
Closing as no more answer.

[2020-07-06 11:13] #46 closed, assigned to nobody

[2020-07-06 11:14] pedrobaeza commented on #45
Closing as this has changed enough in most modern versions and nobody did it.

[2020-07-06 11:14] #45 closed, assigned to nobody

[2020-07-06 11:15] pedrobaeza commented on #44
Closing as there are several PRs for commissions at product level.

[2020-07-06 11:15] #44 closed, assigned to nobody

[2020-07-06 11:15] pedrobaeza commented on #35
Closing the same as the PR as explained there.

[2020-07-06 11:15] #35 closed, assigned to nobody

[2020-07-06 11:16] pedrobaeza commented on #97
Closing as there are PRs for commissions at product level.

[2020-07-06 11:16] #97 closed, assigned to nobody

[2020-07-07 14:27] pedrobaeza opened #247 "Put 13.0 as default branch"
As the main module is migrated, please change it @sbidoul

[2020-07-11 08:33] feketemihai commented on #224
sale_commission_formula in #248

[2020-07-11 10:23] feketemihai commented on #224
sale_commission_pricelist in #249

[2020-07-12 07:54] FernandoRomera opened #250 "[13] sale_commission pre-migration ¿underscore?"
In https://github.com/OCA/commission/blob/13.0/sale_commission/migrations/13.0.1.0.0/pre-migration.py

s/model.replace(".", "-")/model.replace(".", "_")/

¿Underscore?

[code]

@pedrobaeza

[2020-07-12 11:15] pedrobaeza commented on #250
Yes, you're right. Fixed with 424205900eacdfd101a86e0e7b55c3250c994978

[2020-07-12 11:15] #250 closed, assigned to nobody

[2020-07-20 11:12] GSLabIt opened #251 "[12.0][BUG?] sale_commisison, key columns "commission" and "id" are of incompatible types"
Hi there, i'm getting following error on runbot:

[code]

Any hint on what's the issue?

[2020-07-20 11:36] NL66278 commented on #251
Might it be that you have an existing commission field in the res.partner model?

[2020-07-20 11:42] GSLabIt commented on #251
At first check I didn't find it, will double check and get back

[2020-07-20 12:08] NL66278 commented on #251
Please check the table itself (in psql), the field might not be present in the current code, but still be in the table.

[2020-07-20 12:30] GSLabIt commented on #251
Will do, but it is a runbot so it is builded from scratch every time

[2020-07-20 15:16] GSLabIt commented on #251
You where right i got `commission`field in another module.

What about to modify `commission` in `commission_id` as it refer to and object?

[2020-07-20 15:39] NL66278 commented on #251
It seems a good idea to me to use commission_id, but I am not involved in the development of these modules. You could make a PR for this.

[2020-07-20 15:44] GSLabIt commented on #251
I could do a PR, @pedrobaeza what you think?

[2020-07-20 18:35] pedrobaeza commented on #251
The renaming has been done already in v13, so you can't do that this in v12 without having to trick too much.

[2020-07-20 20:03] GSLabIt commented on #251
what about a backport from 13?

[2020-07-20 20:06] pedrobaeza commented on #251
I think a better solution is that you rename the other field in your custom module, as it's not easy to handle this in OCA and there's no problem inside OCA itself, so I'm closing this issue now.

[2020-07-20 20:06] #251 closed, assigned to nobody

[2020-07-20 20:20] GSLabIt commented on #251
ok

[2020-07-24 06:49] pedrobaeza commented on #247
ping @sbidoul

[2020-07-24 07:45] sbidoul commented on #247
@pedrobaeza done. BTW there is no PSC representative for "CRM, Sales & Marketing Maintainers".

[2020-07-24 07:45] #247 closed, assigned to nobody

[2020-07-24 07:51] pedrobaeza commented on #247
OK, thaks. Let's apply for that then.

[2020-07-24 11:02] pedrobaeza commented on #224
All done.

[2020-07-24 11:02] #224 closed, assigned to nobody

[2020-07-29 09:51] ghost opened #253 "[13] sale_commission_pricelist"
During the instalation of the module this traceback appears:
<details>
Odoo Server Error
Traceback (most recent call last):
  File "/opt/odoo13-pre/odoo/odoo/addons/base/models/ir_ui_view.py", line 664, in apply_inheritance_specs
    pre_locate=pre_locate)
  File "/opt/odoo13-pre/odoo/odoo/tools/template_inheritance.py", line 230, in apply_inheritance_specs
    _("Element '%s' cannot be located in

[2020-07-29 22:51] SmithLin0618 opened #254 "[13.0] sale_commission: Does not work on print settlement report"
Impacted versions:

At 13.0

Steps to reproduce:

![image](https://user-images.githubusercontent.com/38001362/88861486-a5ca8e80-d230-11ea-9444-97ae9a87fc0c.png)

![image](https://user-images.githubusercontent.com/38001362/88861503-b0852380-d230-11ea-8b05-83db75da8931.png)
--------------------------------------
Copy the full error：
--------------------------------------
Odoo Server Error

Traceback

[2020-08-10 09:32] SV-ta opened #258 "An error occurred while installing Sales Commissions module."
I tried to install sales commission module in our database v13 by using "deploy on odoo.sh" but an error occurred and can't install.

Here is a link for a video showing what kind of process we took and what kind of error occurred.

https://drive.google.com/file/d/10q9FE2qpjhSKZrOLfiHuf4xACqs803Uk/view

Attached is the picture of the error log.

![errorLog](https://user-images.githubusercontent.com

[2020-08-10 10:09] pedrobaeza commented on #258
The problem is in your configuration: you don't have a chart of accounts in the company. But it's not a problem of this module itself.

[2020-08-10 10:09] #258 closed, assigned to nobody

[2020-08-10 11:48] SV-ta commented on #258
Hi, thanks for your reply.
We set up a chart of accounts but still had the same error. Could you
explain what is missing?
[image: image.png]
[image: image.png]

On Mon, 10 Aug 2020 at 13:09, Pedro M. Baeza <notifications@github.com>
wrote:

--

Best Regards,

Takumi Aizawa

Tel +358 045 157 4807

*SV Maksujärjestelmät Oy*

Ma-pe / Mon-Fri 9:00-16:30 EET/Helsinki

Sibeliuksenkatu 2, Lahti <https://

[2020-08-10 11:54] pedrobaeza commented on #258
There's no sales journal, so that reveals that the CoA is not correct.

[2020-08-11 07:25] SV-ta commented on #258
Could you provide the steps we need to take?
We've been struggling with it for a few days and I don't really understand
what we should do from your message.

On Mon, 10 Aug 2020 at 14:54, Pedro M. Baeza <notifications@github.com>
wrote:

--

Best Regards,

Takumi Aizawa

Tel +358 045 157 4807

*SV Maksujärjestelmät Oy*

Ma-pe / Mon-Fri 9:00-16:30 EET/Helsinki

Sibeliuksenkatu 2, Lahti <https://goo

[2020-08-11 07:28] pedrobaeza commented on #258
Sorry, I can't say, as that's totally out of scope of this issue tracker. It's not a problem on the module, but your deployment.

[2020-08-19 16:25] sergioeix opened #259 "[13] Community sale_commission_pricelist install ERROR"
Odoo 13 community
Ubuntu 18
When I try to install the module when pricelist option on sales is Multiple prices per product, module install succesfully, but when i change option to Advanced price rules and go sales-products-pricelist shows this trace back
Traceback:
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo13/odoo/odoo/addons/base/models/ir_ui_view.py", line 664

[2020-08-19 16:44] pedrobaeza commented on #259
@eLBati can you please check?

[2020-08-20 06:22] eLBati commented on #259
Maybe @feketemihai is more suitable to check as he ported `sale_commission_pricelist` to v13 while I don't use v13

[2020-08-20 06:42] pedrobaeza commented on #259
Right, I confused the porter, sorry.

[2020-08-20 06:43] feketemihai commented on #259
@pedrobaeza @eLBati i can check it but only next week, Monday.

[2020-08-26 19:36] sergioeix commented on #259
Hello @feketemihai , any news ? This error can be reproduced on runbot, just enable pricelist formula option and try to go sales pricelist menu
B/R

[2020-09-02 13:30] ghost commented on #253
I have check it on runbot and the problem is when pricelists are activated.It cna be checked on this video.
https://drive.google.com/file/d/1p7XDqVFtbkBI8PBcwbFG7EHpaLdoyc4J/view

The traceback is:
<details>
Odoo Server Error
Traceback (most recent call last):
  File "/.repo_requirements/odoo/odoo/addons/base/models/ir_ui_view.py", line 664, in apply_inheritance_specs
    pre_locate=pre_locate)

[2020-09-07 15:12] sergioeix commented on #259
this was forgotten ??
B/R

[2020-09-16 07:09] feketemihai commented on #259
@sergioeix The fix is in https://github.com/OCA/commission/pull/261

[2020-09-16 09:45] sergioeix commented on #259
@feketemihai i will try this ty

[2020-09-21 10:25] #259 closed, assigned to nobody

[2020-09-28 17:49] brian10048 commented on #224
@pedrobaeza Did hr_commission not make the original list or is there a specific reason it won't be migrated?

[2020-09-28 17:51] pedrobaeza commented on #224
Not migrated to 12.0 in the moment I close this. You can migrate it anyway.

[2020-10-04 10:22] OCA-git-bot opened #262 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] sale_commission - By @fredzamoabg - #302
- [x] sale_commission_formula - By @fredzamoabg - #301
- [ ] sale_commission_geo_assign - By @iwkse - #348
- [ ] sale_commission_pricelist
- [ ] sale_commission_salesman - By @AntoniRomera - #334

Missing module? Check https://github.com/OCA/maintaine

[2020-10-15 10:48] sergioeix opened #263 "[13] sale_commission Error Request on report"
Odoo 13 Community Ubuntu 18
When i try to print the settlement report i got a traceback and i was not able to get the report.
Can be reproduced on runbot
Can someone confirm this?
B/R

[2020-10-15 11:30] sergioeix commented on #263
same as https://github.com/OCA/commission/issues/254

[2020-10-15 13:09] #263 closed, assigned to nobody

[2020-10-16 15:37] sergioeix commented on #254
I have this error too and its fully reproducible on runbot, it will be awesome if the maintainer @pedrobaeza could check it when he will be avaible and have the time.
B/R

[2020-10-27 17:36] sergioeix opened #264 "[13.0] Sale commission issue with qty_invoiced"
[13.0] Community ubuntu 18
Fully reproducible on runbot
Steps to reproduce:
Set commission, agent, fixed pricelist commission and make sale order with comisionist, do delivery and crete invoice but dont confirm or post this invoice just delete draft invoice when you back to sale order qty_invoiced on sale order is not reset so you are not able to invoice it again.
Expected flow: qty_invoice is res

[2020-10-27 17:49] pedrobaeza commented on #264
sale_commission has nothing to do with `qty_invoiced`, so I don't think the problem is due to this module.

[2020-10-27 17:51] sergioeix commented on #264
hi @pedrobaeza i can do this flow and reproduce it on runbot.

[2020-10-27 17:52] pedrobaeza commented on #264
Yeah, but that doesn't mean that is due to this module. If you uninstall it, does it still happen?

[2020-10-27 17:53] sergioeix commented on #264
without this module it not happens, i test it so hard before post the issue. With this modules installed only happens with lines that have commisionist set.

[2020-10-27 17:55] pedrobaeza commented on #264
OK, very weird, but I will investigate it.

[2020-10-27 17:56] sergioeix commented on #264
ty sir

[2020-10-27 19:13] #254 closed, assigned to nobody

[2020-10-27 19:13] pedrobaeza commented on #254
Fixed in 60e9ce185ca407601a431eb006ff8e5efdc6ed58

[2020-11-03 17:54] sergioeix commented on #264
hello @pedrobaeza did you could reproduce this issue ?

[2020-11-03 18:39] pedrobaeza commented on #264
Yes, but not able to find why.

[2020-11-04 14:46] sergioeix commented on #264
Hope it could be fixed, its really anoying because it happens very often to make a mistake and have to delete draft invoices, it very anoying try to fixt it on the back end. (even changing invoice status, qty_invoiced cant be changed or at least i dont know how)

[2020-11-16 14:27] dennybiasiolli opened #268 "[13.0] sale_commission breaks on update"
@pedrobaeza after the previous merge, `sale_commission` module keeps breaking during update.
 The error is `odoo.tools.convert.ParseError: "Element '<filter name="supplier">' cannot be located in parent view`, even if now the code in the template is
[code]

Any idea?

[2020-11-16 14:28] dennybiasiolli commented on #268
It could be the renaming of the record id from `view_res_partner_filter` to `res_partner_view_search`?

[2020-11-16 14:36] pedrobaeza commented on #268
I think it could be the removal order. Try to remove manually the previous view and then update.

[2020-11-16 14:42] dennybiasiolli commented on #268
Yes, manually removing the previous view the update works fine, but how can I automate everything for the update in production? I'd like to avoid the manual removal of the view for every database

[2020-11-16 14:50] pedrobaeza commented on #268
Add a migration script that removes on pre-migration such view. I can do it if you don't know how.

[2020-11-16 16:47] #268 closed, assigned to nobody

[2020-12-17 16:27] mchristoph commented on #262
sale_commission #273

[2020-12-29 16:26] mlramos opened #274 "[13.0] sale_commission_pricelist - sale_commission_salesman error"
**Reproduced in [runbot](http://3454218-13-0-d7a0c7.runbot2-2.odoo-community.org/web?#action=288&model=sale.order&view_type=list&cids=&menu_id=170)**

**Steps followed:**
1. Install sale_commission_pricelist and sale_commission_salesman
2. In the administrator contact (Mitchel Admin) check "Agent" in the "Sales & Purchase" tab.
3. Check "Convert salesman into agent" in the "Agent Information" tab.

[2021-01-09 06:13] h3nrygr opened #275 "[13.0] sale_commission: Doesn't calculate amount_untaxed and amount_total into invoice when use multicompany"
Hello,

i detected this issue.

[13.0] Community and Enterprise ubuntu 18

Steps to reproduce:
- multi companies and currencies
- create two or more companies with their respective currencies
- make the commission, agent and commission type settings;
- create a new sales invoice
- change the currency to a different one from your country
- add lines to the invoice

You will notice that the variable

[2021-01-09 09:27] pedrobaeza commented on #275
Please try in a runbot without account_global_discount module.

[2021-01-11 06:16] h3nrygr commented on #275
The problem persists.
![problema_2](https://user-images.githubusercontent.com/453923/104151241-7e184e80-53aa-11eb-84b5-a62b5848fe49.png)

The problem is caused by the rewriting of the **attrs** parameter in the **account.account_move_views.xml** view
![parte1](https://user-images.githubusercontent.com/453923/104151083-0813e780-53aa-11eb-9118-4ea1b281b710.png)

It is rewritten by:

sale_commission.

[2021-02-12 08:01] joao-p-marques commented on #224
Hi. I will migrate hr_commission, as no PR has been open yet.

[2021-02-27 23:18] maherkhalil07 opened #291 "[14.0] _prepare_invoice_line() got an unexpected keyword argument 'sequence'"
in odoo v 14 community edition, I get the bellow mentioned error while converting sale order to invoice
_prepare_invoice_line() got an unexpected keyword argument 'sequence'
attached photo for the error
![Screenshot 2021-02-28 01:17:54](https://user-images.githubusercontent.com/38738435/109402964-df987a80-7962-11eb-928d-74ca810049b6.png)

[2021-03-01 01:27] pedrobaeza commented on #291
The module is not yet migrated to v14 in the OCA branch, so this report doesn't qualify as issue, so closing.

[2021-03-01 01:27] #291 closed, assigned to nobody

[2021-03-31 09:22] isofterp opened #295 "write error when using the comission module with standard Odoo rental module"
module: sale_commission
version: 13.0

**Steps to reproduce**
- ...
Install sales, commission and rental module (sale_renting).
**Current behavior**
Create new sales order, choose a product, add commission line. Upon choosing Save button, the following error is produced.

Traceback (most recent call last):
  File "/Users/edgarsampson/odoo-14e/odoo/http.py", line 639, in _handle_exception
    retur

[2021-04-01 06:54] pedrobaeza commented on #295
I don't think the problem is in this module, as the traceback doesn't indicate that.

[2021-04-02 22:26] #274 closed, assigned to nobody

[2021-04-22 23:37] agharaafat opened #297 ""Sales commissions" not working with 13ee ?"
Hello
i'm using 13 enterprise
the app is installed and I can see it on Sales and see all fields
but when trying to settlement agent I don't get anything! 0
is this app not compatible with enterprise?
or I cant settle manually and should be waiting a month?

[2021-04-22 23:46] pedrobaeza commented on #297
The settlement date in the wizard should be higher than the latest invoicing period.

Closing as answered. If not, please specify more details.

[2021-04-22 23:46] #297 closed, assigned to nobody

[2021-04-23 02:00] agharaafat commented on #297
thank you, i got it :)
i have another question please
there's any way to assign the agent automatically based on the product?
i mean when add product "x" to the order line assign (jone) , when add product (y) assign (zee) ..etc

[2021-04-23 06:18] pedrobaeza commented on #297
No. There are several PRs with a module `sale_commission_product`, but they are not completed.

[2021-04-23 11:22] agharaafat commented on #297
you mean if this app upgraded from v8 to v13 it's will work? or there are other issues?
https://apps.odoo.com/apps/modules/8.0/sale_commission_product/

[2021-04-23 11:27] pedrobaeza commented on #297
That one is not migrated yet, but only a PR.

[2021-04-23 11:42] agharaafat commented on #297
sorry, what the meaning of PR :/

[2021-04-23 11:44] pedrobaeza commented on #297
Pull request

[2021-04-23 12:01] agharaafat commented on #297
thank you and sorry I'm a beginner :)
I find this https://github.com/OCA/commission/pull/246/files
for v12 and I see it's not completed
so what I should do to let it work on v13?
can I use the source code of v8 and let a developer edit it to be compatible with v13 ?
or what's your advice?

[2021-04-23 12:04] pedrobaeza commented on #297
No, it's not possible to be used. Someone experienced must do the migration to v13.

[2021-04-24 17:50] agharaafat commented on #297
Hello again
i'm just installed odoo 8 with https://apps.odoo.com/apps/modules/8.0/sale_commission_product/
I can't find any tabs on product to define agent and percentage!
just the normal way to add agent from sales order
if you need to check
http://213.136.87.29:8072/web
username: admin
password: 123

[2021-05-14 02:46] pfranck commented on #262
How can help merging the request ?

[2021-05-24 07:47] fredzamoabg commented on #262
working on sale_commission_formula https://github.com/OCA/commission/pull/301

[2021-05-26 06:52] fredzamoabg commented on #262
@pedrobaeza I created a new PR for **sale_commission** https://github.com/OCA/commission/pull/302 to continue the implementation started here https://github.com/OCA/commission/pull/273

[2021-06-05 10:01] IJOL opened #305 "Calculate commission differences between v8 , v10 and v12"
Hola a todos:

We are users of the commission module since v8, and AFAIK the commission calculation is bugged from v10 onward ( didn't know of other versions ) , what we expected is that the calculations done in v8 in _compute_amount module the various refactoring in the middle , do exactly the same in all versions.. but it seems not the case, and the chain of bugs slowly get bigger from v10 to v1

[2021-06-05 10:34] pedrobaeza commented on #305
Please indicate steps to reproduce, what you expect, and what you get, and in which Odoo version.

[2021-06-06 15:39] IJOL commented on #305
A sale order with a 5% commission over net amount, with a net amount
of 1805.88 and taxes of 379.23 , gives in v8 90.29 ( 5% of 1805.88)
and in v10 or v12 33.83 ( which is the 5% of 676.6 ) , we expect the
exact same amount calculated in v8 and v12, it seems 676.6 is the
margin in the sale, which btw is the operation it does in
get_commission_amount

subtotal = max([  0, subtotal - product.standar

[2021-06-06 15:46] pedrobaeza commented on #305
Yes, net amount means that, the margin between sales price and cost price. If in v8 is the way you say, then the bug is in that version. I think "Gross amount" is the amount you need for having 90.29 (5% of 1805.88).

[2021-06-06 16:12] IJOL commented on #305
Sorry i assumed the explanation some coworker gave me, it seems to that we
have gross commissions too in the v8 sense, how can we achieve that type of
commissions in v12? this seems to be the real problem..

El dom, 6 jun 2021 a las 17:46, Pedro M. Baeza ***@***.***>)
escribió:

[2021-06-06 16:19] pedrobaeza commented on #305
I think "Gross amount" gets the amount without taxes.

[2021-06-08 11:33] luisovalles opened #306 "Calculating Commissions in Multicurrency"
When making settlements on invoices in different currencies, the settlement is generated without converting between the currencies, adding the amounts regardless of the currency. totaling an amount that is printed on the invoice without reference to the exchange rate.

[2021-06-08 11:35] pedrobaeza commented on #306
Yes, this is a missing feature for now. See https://github.com/OCA/commission/tree/13.0/sale_commission#known-issues-roadmap

[2021-06-08 11:35] #306 closed, assigned to nobody

[2021-06-28 20:00] laurent-opnworks commented on #262
Any update on availability of this module for Odoo v14? We installed the v13 version on Odoo v14 but it does not seem to work (which is expected).  Can anyone provide an estimate of the effort required to complete the migration?

[2021-06-28 20:06] pedrobaeza commented on #262
Which one? The main one is already merged.

[2021-06-28 20:19] laurent-opnworks commented on #262
@pedrobaeza Sorry for the ambiguity. I was refering to the **hr_commission** module.

[2021-06-28 20:32] pedrobaeza commented on #262
AFAIK, that module should work without too much changes, but indeed it's still not started by anyone.

[2021-07-15 06:56] angelmoya opened #313 "[RFC] [14.0]: New module sale_commission_customer_rebate"
Customer rebate or Rappels are a kind of discounts that works like commissions.

In this case, customer will be same Agent, and we will generate a credit note instead of a purchase invoice.

What do you think about it? There are other way to do it?

[2021-07-15 07:06] pedrobaeza commented on #313
See https://github.com/OCA/contract/pull/633

[2021-07-29 10:27] UgwakOCrosky commented on #262
I was testing the sale_commission 14.0 module with Odoo 14 community. I can create agents, assign commissions but I can't settle the invoice. It doesn't return an error however, it will not create a settlement. It also doesn't show create button under settlement menu.

![odoo](https://user-images.githubusercontent.com/19836704/127476410-7d4fe370-9d4c-400d-bf40-6dec54294e9e.PNG)

[2021-07-29 10:28] pedrobaeza commented on #262
You are not settling correctly. You have to set a date for a due period.

[2021-08-03 14:01] RibraX opened #317 "[IMP] Insert Customer at Settlement"
I need to enter the customer's name in the commission closing. How do I get the customer from the account_invoice table?
![settlement](https://user-images.githubusercontent.com/4660066/128028757-2c2f4f03-fc25-4190-992f-cd999f02de90.png)

[2021-08-03 14:04] pedrobaeza commented on #317
Sorry, this is not an issue of the module. For any development question, please refer to forums.

[2021-08-03 14:04] #317 closed, assigned to nobody

[2021-10-04 18:28] sergioeix opened #325 "[13] sale_commission_pricelist not working with direct invoices"
Steps to reproduce:  (by now I have account_invoice_pricelist and account_invoice_pricelist_sale installed to handle pricelist on invoices)
1 - make an invoice and select a partner with agent and add a product from a pricelist with commision and save
2 - check commision in line, Commision is not taken from pricelist
Spected behavior the commision is taken from pricelist like in sale order.

Someti

[2021-10-04 18:32] pedrobaeza commented on #325
It's **sale**_commission_pricelist, not **account**. Of course it doesn't work. The pricelist doesn't exist in invoices without such module, so you need to add another glue module for joining both.

[2021-10-04 18:32] #325 closed, assigned to nobody

[2021-10-06 14:05] Olimalt85 opened #326 "[12.0] sale_commission : commission lines for sections"
Hello everyone,

I get commission lines for account.invoice.line with display_type=='line_section'

Way to reproduce :
1 - Define the field agents for a res.partner
2 - Create sale order with a section line and some products for this partner
3 - Confirm the sale order so it creates an invoice
4 - When the invoice is created, remove the agent of lines of products and create a settlements
5 - When y

[2021-10-06 15:28] pedrobaeza commented on #326
Although they are neutral, as the amount is 0, you can open a PR with the code for not generating them at all, or fund someone to do it.

[2021-10-07 08:22] Olimalt85 commented on #326
Ok, thank you for you reply !
I guess i will just modify the reporting without touching the python code.

[2021-10-07 08:22] #326 closed, assigned to nobody

[2021-10-07 08:30] pedrobaeza commented on #326
Well, you can contribute to OCA with the proper code as a thankful to all you are getting from it, isn't it?

[2021-10-07 08:57] Olimalt85 commented on #326
Sure , i just added this condition in my reporting view : t-if="l.settled_amount != 0". where 'l' is the name of my foreach loop on the lines of the settlement.
So it won't show the lines with a value of 0 in the settled_amount field (even if its not a section or note and have 0 in the settled_amount we don't need it in my company).

[2021-10-17 10:13] OCA-git-bot opened #328 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [x] hr_commission - By @ernesto-garcia-tecnativa - #400
- [x] sale_commission - Split into commission, account_commission and sale_commission - By @pedrobaeza / @@AungKoKoLin1997 - #387
- [x] sale_commission_formula > commission_formula - By @AungKoKoLin1997 - #377
- [ ] sale_commission_pricelis

[2021-10-28 16:31] felipemotter opened #329 "sale.commission.settlement by invoice date"
Hello guys, i'm starting to use this repository in v12.0 but some doubts came in my mind.

If i'm using the commission based in invoice payment, when i set the commission, the sale.commission.settlement.line 's will be grouped by invoice date and not by payment date, is this purposeful or necessary?

In Brazil, it's normal partial payments, when this can take a lot of periods easily. So when the s

[2021-10-28 16:36] pedrobaeza commented on #329
This is how it works for now, creating multiple settlements for the same period if needed. Any other behavior should be implemented.

[2021-10-28 16:36] #329 closed, assigned to nobody

[2021-11-10 17:08] JrVeroy commented on #52
I have the same error with Sale_order_line_price_history when I click the widget. How expanded view is activated?

[2021-11-28 12:28] #230 closed, assigned to carlosdauden

[2021-11-28 12:28] #253 closed, assigned to nobody

[2021-11-28 12:28] #264 closed, assigned to nobody

[2021-11-28 12:28] #275 closed, assigned to nobody

[2021-11-28 12:28] #295 closed, assigned to nobody

[2021-11-29 08:26] pedrobaeza commented on #275
As reference, this was fixed in #282

[2021-11-29 08:49] pedrobaeza commented on #264
As info, this wasn't happening with latest code, and it was due to an ORM glitch it seems.

[2021-12-06 10:10] mgielissen opened #332 "Fixed price commission for a specific product."
Instead of a percentage, is it possible to specify a fixed price commission for a product?

Eg:
Global: 10% commission
If specified for product: €10 commission

[2021-12-06 11:47] pedrobaeza commented on #332
Not right now. There are some PRs for a module `sale_commission_product` that intends to add a product layer, but they have never been finished.

[2021-12-06 11:52] pedrobaeza commented on #328
My intention for this version is to split the current base module `sale_commission` into 3:

- `commission`, which contains the basic definition of agents, commission types, mixins, etc. To add here a differentiation between customer and vendor commission types. This is split also from the next one for being able to have other possible documents to have commissions without the need of the next lay

[2022-01-09 12:30] #305 closed, assigned to nobody

[2022-02-20 12:28] #313 closed, assigned to nobody

[2022-03-08 06:15] manuelcalerosolis commented on #328
@pedrobaeza, we are interested in migrating to v 15.0, we are missing it, if you think we can start by migrating sale_commission to commission, in a first stage.

[2022-03-08 07:38] pedrobaeza commented on #328
Great, go ahead.

[2022-03-08 08:30] manuelcalerosolis commented on #328
@pedrobaeza

Do you propose changing the name of the tables from "sale.commission" to "commission"?

Or is this change going to be very traumatic for migrations from versions prior to 15.0?

[2022-03-08 08:33] pedrobaeza commented on #328
No, let's do it. Migration scripts can handle that. I will take care of it when merged.

[2022-03-28 12:57] houssine78 commented on #328
Hi @manuelcalerosolis @pedrobaeza

I saw that you proposed a refactor of the sale_commission module for v15. I see that Manuel proposed this PR https://github.com/OCA/commission/pull/343 that brings the base module commission.

Then I see the following PR https://github.com/OCA/commission/pull/345 from @slominchar which seems to be a straight port of the v14 module.

Do you have any insight on the

[2022-03-28 13:42] pedrobaeza commented on #328
Yes, you can review such PR, but formally there's a problem with git commits.

[2022-04-26 12:57] anajuaristi opened #355 "Does not recalculate amount if changed on sale_order_line"
## Module
sale_commission

## Describe the bug
Commision amount is not recalculated if you change manually the sale_commision to apply in a sale order line for one agent.

## To Reproduce
**Affected versions**:
Tested in V14

Steps to reproduce the behavior:
1.Go to sale_order_line, click on agents
2.Change sale_commision for one agent line --> The amount is not recalculated and the field can not

[2022-05-26 10:55] #355 closed, assigned to nobody

[2022-07-06 10:29] BT-aestebanez commented on #328
is there any plan to merge https://github.com/OCA/commission/pull/363 ?

[2022-07-06 10:55] pedrobaeza commented on #328
Not while the PR is not in good state, and the current diff is not correct. I plan to work on it on August.

[2022-07-06 11:04] BT-aestebanez commented on #328
Thanks for the feedback and the estimation :) @BT-fschubert FYI

[2022-07-10 12:34] #332 closed, assigned to nobody

[2022-08-23 10:41] francescapenso opened #366 "Purchase commission"
There is a module that manages the commissions on purchases (purchase orders and purchase invoices) and worksin the same way as the one on sales commissions even with formulas?

[2022-08-23 10:51] pedrobaeza commented on #366
Not yet. The idea is to extract from `sale_commission` a base `commission` module, and over it, put the purchase part, but the split is yet not finished in #363

[2022-08-23 11:44] francescapenso commented on #366
This only for 15.0 version or some one is working in 14?

[2022-08-23 12:25] pedrobaeza commented on #366
No work for v14 and can't be extracted as stability policy.

[2022-08-25 17:32] francescapenso commented on #366
Ok i can understand. And for #363 development there is a forecast?

[2022-08-25 17:41] pedrobaeza commented on #366
It seems stuck as formally is not correctly executed. You can ask in such PR.

[2022-09-19 14:09] ValentinVinagre commented on #328
Hi @manuelcalerosolis @pedrobaeza @yostashiro @AungKoKoLin1997 exist in this moment 2 MIG PR's for the commission module  in v.15
first -> https://github.com/OCA/commission/pull/363
second -> https://github.com/OCA/commission/pull/372

Which one is currently active? what is left to check? Pedro, how do you see that the modules have been separated? We need the modules for clients, we were waiting t

[2022-09-19 14:24] pedrobaeza commented on #328
The problem with both PRs is that they are not doing the split in the best way using correctly `git`. Do you want to do it, Valentín?

[2022-09-20 06:42] JordanRemm commented on #328
@pedrobaeza
I want to migrate this module but let me clear first. We will split sale_commission into three as you mentioned but I am not clear about part of settlement. Settlement should be exist in which module?

[2022-09-20 06:49] standingmind commented on #328
@pedrobaeza
I want to work in migration of this sale_commission but I want to clear first. We will split sale_commission into 3 modules as you mentioned. But I want to know settlement should be exist in which module?

[2022-09-20 10:56] AungKoKoLin1997 commented on #328
@pedrobaeza  Sorry for my PR. I didn't fully understand this https://github.com/OCA/commission/issues/328#issuecomment-986704280. Now I try to split the current base module sale_commission into 3 modules as you mentioned.

- commission module that contains the basic definition of agents, commission types, mixins.
- account_commission which perform the commission on customer invoices , make settlem

[2022-09-20 18:01] pedrobaeza commented on #328
Thinking this twice, I think the `settlement` basic model with lines, having agent, date and amount, it's also a good idea. Later modules will add any kind of extra field for linking with their sources.

The idea here is to avoid dependency on the invoices lines as the source of the settlements. This way, you can have settlements coming directly from sales orders, purchase orders, or any other kin

[2022-09-21 03:25] AungKoKoLin1997 commented on #328
I am thinking about it. Do you mean we create settlement base model like mixin and we inherit this base and create new model and have each settlement menu for other modules like sale_commission, account_commission. I mean we have a sale settlement menu for sale_commission.

How about if we split into 4 modules:

- commission module that contains the basic definition of agents, commission types, mi

[2022-09-21 06:38] pedrobaeza commented on #328
More than a mixin, I talk about a full model. All settlements, coming from any source, will generate a record of this model. The difference is that a `settlement_type` will differentiate it (and we can put security rules for filtering it if we want).

About the fourth module, `sale_account_commission`, as `sale` already depends on account, I don't think we should need such extra glue module. Just

[2022-09-21 06:59] AungKoKoLin1997 commented on #328
Let me confirm this. When we make commission settlement, we need to choose settlement_type like sale order or account for generating settlement from sources. If we choose settlement_type to sale order when we make commission settlement, system will generate settlement from sale order lines. Is that right?

[2022-09-21 07:02] pedrobaeza commented on #328
Not really, current settlement wizard will directly set the `settlement_type` to `invoice`. If tomorrow there's directly a wizard to settle sales orders, then such wizard will internally set that type in the created settlements, but the menu to see them all will be the same. Such sales wizard will also set the corresponding link for each line to each sale agent line. Do you understand what I want

[2022-09-21 07:17] AungKoKoLin1997 commented on #328
So, we have each wizard to settle for each source and we set the settlement_type in the created settlements. I mean if we use sale_commission, there is a wizard to settle sale orders, but the menu to see them will be the same

[2022-09-21 07:20] pedrobaeza commented on #328
Yes, but for now you don't need to create such wizards except the existing one for invoices.

[2022-10-03 16:20] sbidoul opened #373 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list
- [x] account_commission - By @hildickethan-S73 - #395
- [x] commission - By @hildickethan-S73 - #394
- [x] commission_formula - By @arleite - #448
- [x] hr_commission - By @omar7r

[2022-10-30 12:40] #262 closed, assigned to nobody

[2022-11-04 09:49] AungKoKoLin1997 commented on #328
@pedrobaeza  Can you please review this PR https://github.com/OCA/commission/pull/374? We split into three modules as we talked. But we have one concern about sale_commission. Now sale_commission performs the commissions on sales orders and propagate them to customer invoices. In the future, if we want to add directly settlements from sale orders, do we need to create new module for this part? I t

[2022-11-04 13:05] pedrobaeza commented on #328
As `sale` depends on `account`, I think we can create a module `sale_commission_direct_settlement` that includes the settlements from sale, and you decide which one to use. What do you think?

Other option is to create `sale_commission` with the bare agent line additions, and `sale_account_commission` for transferring the lines to the invoices, and the other one for the settlements.

[2022-11-04 13:39] yostashiro commented on #328
I think the first option is good as an interim arrangement. I am not aware of real need of creating settlements directly from sales orders.  When such need comes out `sale_commission_direct_settlement` can be created.

This second option sounds more reasonable in case the need of direct settlement from sales orders turns out to be material. Maybe this can be considered for future versions.